---
import Layout from "../layouts/Layout.astro";
---
<Layout title="With Otto | FAQs" wrapperClasses="pt-[150px] md:pt-[90px] sm:pt-[90px] xsm:pt-[90px]">
    <div class="faqs-inner-page relative z-[5] pt-[170px] pb-[185px] px-0 bg-[linear-gradient(45deg,#FFFBF2,#EDFFFD)] md:p-[80px_0_70px] sm:p-[80px_0_70px] xsm:p-[80px_0_70px]">
        <img src="/images/shape/66.svg" alt=""
             class="shapes shape-one absolute z-[-1] bottom-[-140px] animate-[jumpTwo_5s_infinite_linear] left-0 block sm:hidden xsm:hidden">
        <div class="shapes shape-two absolute z-[-1] w-[30px] h-[30px] top-[-15px] rounded-[50%] left-[40%] bg-[#ffdfdf]"></div>
        <div class="shapes shape-three absolute z-[-1] w-[7px] h-[7px] rounded-[50%] right-[9%] top-[190px] bg-[#51fcff]"></div>
        <div class="shapes shape-four absolute z-[-1] w-2 h-2 rounded-[50%] left-[12%] top-[211px] bg-[#ffcd8b]"></div>
        <div class="container">
            <div class="flex flex-wrap mx-[-15px]">
                <div class="xl:w-11/12 xl:basis-11/12 lg:w-11/12 lg:basis-11/12 md:w-full md:basis-full sm:w-full sm:basis-full xsm:w-full xsm:basis-full relative px-[15px] m-auto">
                    <div class="faqs-header">
                        <div class="flex flex-wrap mx-[-15px]">
                            <div class="xl:w-6/12 xl:basis-6/12 lg:w-6/12 lg:basis-6/12 relative px-[15px]">
                                <div class=" flex">
                                    <img src="/images/icon/48.svg" alt=""
                                         class="icon h-[55px] mr-8 lg:hidden md:hidden sm:hidden xsm:hidden">
                                    <div>
                                        <h3 class=" text-[36px]">FAQs</h3>
                                        <p class="collection-preview text-[20px] leading-[1.6em] pb-[25px]">Everything
                                            you need to know about working with Otto</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- /.faqs-header -->


                    <div class="all-faqs">
                        <div class="faqs-all-qus mb-[70px]">
                            <div class="article-preview  shadow-[0_15px_30px_rgba(23,59,40,0.05)] mb-[18px] p-[45px_40px] bg-white flex md:p-[45px_20px] sm:p-[45px_20px] xsm:p-[45px_20px]">
                                <div>
                                    <h3 class="font-Rubik text-[24px] pb-2.5 leading-[1.2] xsm:text-[22px]">What do I
                                        need to get started with Otto?</h3>
                                    <p class="pb-2">You'll need to:</p>
                                    <ul class=" list-disc pl-[18px]">
                                        <li>Create bank rules/make sure you're happy with your existing ones. We've made
                                            a <a href="/files/Bank%20rules%20quick%20guide.pdf" class="underline">quick
                                                guide</a> to help you with this.
                                        </li>
                                        <li>Invite Otto to your Xero practice.</li>
                                        <li>Give him access to your chosen clients. We'll help you with this on the
                                            onboarding call.
                                        </li>
                                    </ul>
                                </div>
                            </div> <!-- /.article-preview -->
                            <div class="article-preview  shadow-[0_15px_30px_rgba(23,59,40,0.05)] mb-[18px] p-[45px_40px] bg-white flex md:p-[45px_20px] sm:p-[45px_20px] xsm:p-[45px_20px] ">
                                <div>
                                    <h3 class="font-Rubik text-[24px] pb-2.5 leading-[1.2] xsm:text-[22px]">What's
                                        SmartMatch?</h3>
                                    <p class="pb-2">SmartMatch is our secret sauce. Rather than trying to work out
                                        whether a payment on the bank statement relates to an invoice or bill in Xero
                                        based on the payee and reference details, SmartMatch looks at one year of
                                        previous reconciliation data for each of your clients to learn how you have
                                        reconciled in the past.</p>
                                    <p class="pb-2">With that data, Otto can find patterns in those past reconciliations
                                        to reduce
                                        mistakes and reconcile some trickier matches than other bookkeeping bots.</p>
                                    <p class="pb-2">For each green match on the bank reconciliation page, Otto will use
                                        this training
                                        data to decide whether it's a match or non-match, and a confidence level from 0
                                        to 100%. For example, he could be 90% sure something is not a match, or 50% sure
                                        something is a match. By default, we require Otto to be at least 90% sure
                                        the match is correct before he will reconcile.</p>
                                </div>
                            </div>
                            <div class="article-preview  shadow-[0_15px_30px_rgba(23,59,40,0.05)] mb-[18px] p-[45px_40px] bg-white flex md:p-[45px_20px] sm:p-[45px_20px] xsm:p-[45px_20px] ">
                                <div>
                                    <h3 class="font-Rubik text-[24px] pb-2.5 leading-[1.2] xsm:text-[22px]">What are
                                        the pros and cons of SmartMatch?</h3>
                                    <p class="pb-2">Our primary goal with Otto is that he should not make an incorrect
                                        match. We
                                        don't want you to have to constantly check what he has done because you
                                        can't trust he's done the right thing. SmartMatch allows us to make sure Otto is
                                        really unlikely to do the wrong thing.</p>
                                    <p class="pb-2">Sometimes SmartMatch will mean Otto is not as confident about a
                                        match as you
                                        might expect. This is more likely if the information on the bank statement
                                        is confusing. This could be where the description contains the payee,
                                        reference, date, address, etc., or where the payee is completely blank.</p>
                                    <p class="pb-2">SmartMatch needs a certain amount of previous reconciliation data to
                                        train
                                        with–around 100 matches in our testing. Accuracy will be higher with more
                                        examples but Otto is trained to skip reconciliations he is not sure of so
                                        you should not see incorrect reconciliations.</p>
                                    <p><b>We are constantly working to improve how accurate Otto's work is and you will
                                        automatically benefit from these improvements.</b></p>
                                </div>
                            </div>
                            <div class="article-preview  shadow-[0_15px_30px_rgba(23,59,40,0.05)] mb-[18px] p-[45px_40px] bg-white flex md:p-[45px_20px] sm:p-[45px_20px] xsm:p-[45px_20px] ">
                                <div>
                                    <h3 class="font-Rubik text-[24px] pb-2.5 leading-[1.2] xsm:text-[22px]">Does
                                        he need to be trained?</h3>
                                    <p class="pb-2">He doesn't. He will reconcile any bank rules you have set up, from
                                        day one. You just need to make sure that the rules only match what you want them
                                        to, and that they don't require any information to be entered during the
                                        reconciliation.</p>
                                    <p>SmartMatch works using information about previous reconciliations so you
                                        don't need to do anything there–we take care of it all.</p>
                                </div>
                            </div> <!-- /.article-preview -->
                            <div class="article-preview  shadow-[0_15px_30px_rgba(23,59,40,0.05)] mb-[18px] p-[45px_40px] bg-white flex md:p-[45px_20px] sm:p-[45px_20px] xsm:p-[45px_20px] ">
                                <div>
                                    <h3 class="font-Rubik text-[24px] pb-2.5 leading-[1.2] xsm:text-[22px]">Will
                                        Otto just reconcile any green match he sees?</h3>
                                    <p>Absolutely not. We're about matching the correct transactions, and
                                        avoiding mistakes, not clicking the OK button as many times as possible.
                                        We would rather skip some possible matches than match something
                                        incorrectly.</p>
                                </div>
                            </div> <!-- /.article-preview -->
                            <div class="article-preview  shadow-[0_15px_30px_rgba(23,59,40,0.05)] mb-[18px] p-[45px_40px] bg-white flex md:p-[45px_20px] sm:p-[45px_20px] xsm:p-[45px_20px] ">
                                <div>
                                    <h3 class="font-Rubik text-[24px] pb-2.5 leading-[1.2] xsm:text-[22px]">Is
                                        there anything Otto can't (or won't) reconcile?</h3>
                                    <p class="pb-2">Otto currently skips these types of green matches:</p>
                                    <ul class=" list-disc pl-[18px]">
                                        <li><b>Bank transfers</b> These are a little more complicated than bills
                                            and invoices but we plan to introduce transfer matching later.
                                        </li>
                                        <li><b>Other possible matches</b> Otto will skip a possible match if there are
                                            multiple possible matches for the payment. We're working to make this
                                            feature available shortly.
                                        </li>
                                        <li><b>Multiple bills or invoices for a single payment</b> It often requires
                                            specific knowledge of your client to make the correct decision so Otto is
                                            very unlikely to ever be able to match these.
                                        </li>
                                    </ul>
                                </div>
                            </div> <!-- /.article-preview -->
                            <div class="article-preview  shadow-[0_15px_30px_rgba(23,59,40,0.05)] mb-[18px] p-[45px_40px] bg-white flex md:p-[45px_20px] sm:p-[45px_20px] xsm:p-[45px_20px] ">
                                <div>
                                    <h3 class="font-Rubik text-[24px] pb-2.5 leading-[1.2] xsm:text-[22px]">I only
                                        want to reconcile bank rules. Can I skip SmartMatch?</h3>
                                    <p>The Growth and Advanced plans allow you to enable or disable bank rule and
                                        SmartMatch for each client, so you have complete control over what Otto does
                                        for those clients.</p>
                                </div>
                            </div> <!-- /.article-preview -->
                            <div class="article-preview  shadow-[0_15px_30px_rgba(23,59,40,0.05)] mb-[18px] p-[45px_40px] bg-white flex md:p-[45px_20px] sm:p-[45px_20px] xsm:p-[45px_20px] ">
                                <div>
                                    <h3 class="font-Rubik text-[24px] pb-2.5 leading-[1.2] xsm:text-[22px]">Can I
                                        carry unused reconciliations to the next month?</h3>
                                    <p class="pb-2">Allowances reset at the start of the new month and cannot be carried
                                        over.</p>
                                </div>
                            </div> <!-- /.article-preview -->
                            <div class="article-preview  shadow-[0_15px_30px_rgba(23,59,40,0.05)] mb-[18px] p-[45px_40px] bg-white flex md:p-[45px_20px] sm:p-[45px_20px] xsm:p-[45px_20px] ">
                                <div>
                                    <h3 class="font-Rubik text-[24px] pb-2.5 leading-[1.2] xsm:text-[22px]">I don't
                                        currently have many bank rules set up. What can I use them for?</h3>
                                    <p class="pb-2">Bank rules are great for transactions where you don't get a bill,
                                        such as
                                        bank account fees, payment processing fees, and transfers. They are also
                                        helpful where the sales invoice or receipt has been generated outside of
                                        Xero, for platforms like Stripe. For companies with payroll, rules can
                                        normally be created for the wage payment, PAYE, and pension payments.</p>
                                    <p>Read our <a href="/files/Bank%20rules%20quick%20guide.pdf" class="underline">quick
                                        guide</a> for more ideas, as well as tips for making the most of rules and
                                        avoiding unexpected issues.</p>
                                </div>
                            </div> <!-- /.article-preview -->
                            <div class="article-preview  shadow-[0_15px_30px_rgba(23,59,40,0.05)] mb-[18px] p-[45px_40px] bg-white flex md:p-[45px_20px] sm:p-[45px_20px] xsm:p-[45px_20px] ">
                                <div>
                                    <h3 class="font-Rubik text-[24px] pb-2.5 leading-[1.2] xsm:text-[22px]">Is Otto
                                        secure?</h3>
                                    <p class="pb-2">Otto has a Xero account for each practice he is invited to. Otto can
                                        only
                                        access the clients for the practice he is working on at the time, and only for
                                        the clients you have invited him to.</p>
                                    <p class="pb-2">A unique, random password is generated for each Otto account. The
                                        password
                                        contains upper- and lowercase letters, numbers, and symbols.</p>
                                    <p class="pb-2">The Xero credentials are encrypted and only read when logging into
                                        your
                                        practice.</p>
                                    <p class="pb-2">Otto enables 2FA for all accounts to keep them extra secure. The
                                        details that
                                        allow the 2FA code to be generated are also encrypted.</p>
                                </div>
                            </div> <!-- /.article-preview -->
                            <div class="article-preview  shadow-[0_15px_30px_rgba(23,59,40,0.05)] mb-[18px] p-[45px_40px] bg-white flex md:p-[45px_20px] sm:p-[45px_20px] xsm:p-[45px_20px] ">
                                <div>
                                    <h3 class="font-Rubik text-[24px] pb-2.5 leading-[1.2] xsm:text-[22px]">How does
                                        Otto handle 2FA?</h3>
                                    <p class="pb-2">2FA is enabled for all accounts for extra security.</p>
                                </div>
                            </div> <!-- /.article-preview -->
                            <div class="article-preview  shadow-[0_15px_30px_rgba(23,59,40,0.05)] mb-[18px] p-[45px_40px] bg-white flex md:p-[45px_20px] sm:p-[45px_20px] xsm:p-[45px_20px] ">
                                <div>
                                    <h3 class="font-Rubik text-[24px] pb-2.5 leading-[1.2] xsm:text-[22px]">How is
                                        Otto monitored and supported?</h3>
                                    <p class="pb-2">Otto records status messages so we can see that his work is running
                                        as
                                        expected. Any issues will be logged for further investigation. Errors are
                                        escalated so they can be reviewed by the developer, in case a fix or other
                                        change needs to be made.</p>
                                </div>
                            </div> <!-- /.article-preview -->
                            <div class="article-preview  shadow-[0_15px_30px_rgba(23,59,40,0.05)] mb-[18px] p-[45px_40px] bg-white flex md:p-[45px_20px] sm:p-[45px_20px] xsm:p-[45px_20px] ">
                                <div>
                                    <h3 class="font-Rubik text-[24px] pb-2.5 leading-[1.2] xsm:text-[22px]">How does
                                        Otto access and use our data?</h3>
                                    <p class="pb-2">Otto accesses your clients' Xero accounts the same as a person
                                        would, but he only looks at certain pages:</p>
                                    <ul class="pb-4 list-disc pl-[18px]">
                                        <li>Whilst reconciling, he will first visit the dashboard, then the bank
                                            accounts page, and then works through each reconciliation page for
                                            each bank account.
                                        </li>
                                        <li>Whilst saving previously reconciled transaction information for his
                                            training, Otto again starts at the dashboard and visits each bank
                                            account. This time he views the bank statements pages, and checks
                                            the transaction details and transaction pages to learn how
                                            transactions were reconciled against bills and invoices.
                                        </li>
                                    </ul>

                                    <p class="pb-2">Statement and bill/invoice information is saved to train Otto, and
                                        also
                                        to record what he has reconciled so you can review this.
                                    </p>
                                    <p class="pb-2">Training data is kept for no longer than 18 months from the date of
                                        the transaction on the bank statement.
                                    </p>
                                    <p>The training data is turned into a Machine Learning (ML) model. The
                                        model stores the underlying data as several numbers for each
                                        transaction, and whether that is a match or a non-match. The model only
                                        uses training data that is 12 months old at the point the model is
                                        trained.
                                    </p>
                                </div>
                            </div> <!-- /.article-preview -->
                            <div class="article-preview  shadow-[0_15px_30px_rgba(23,59,40,0.05)] mb-[18px] p-[45px_40px] bg-white flex md:p-[45px_20px] sm:p-[45px_20px] xsm:p-[45px_20px] ">
                                <div>
                                    <h3 class="font-Rubik text-[24px] pb-2.5 leading-[1.2] xsm:text-[22px]">How is
                                        my client's data handled and transmitted?</h3>
                                    <p class="pb-2">Otto interacts with Xero using a Chrome-based web browser using
                                        HTTPS. Saved
                                        client data relates only to information that you would see on the Xero bank
                                        reconciliation page, excluding transaction amounts. Data stored in the
                                        database for training and reporting is secured using a secure password and
                                        access is limited to ensure it is only used for valid purposes. Any
                                        passwords and 2FA codes are encrypted with a secure key.</p>
                                </div>
                            </div> <!-- /.article-preview -->
                            <div class="article-preview  shadow-[0_15px_30px_rgba(23,59,40,0.05)] mb-[18px] p-[45px_40px] bg-white flex md:p-[45px_20px] sm:p-[45px_20px] xsm:p-[45px_20px] ">
                                <div>
                                    <h3 class="font-Rubik text-[24px] pb-2.5 leading-[1.2] xsm:text-[22px]">How
                                        often is Otto retrained on my client's data?</h3>
                                    <p class="pb-2">Otto is retrained on a monthly basis to keep his knowledge
                                        up-to-date.
                                        Practices on the Advanced plan can choose for Otto to be retrained
                                        fortnightly.</p>
                                </div>
                            </div> <!-- /.article-preview -->
                            <div class="article-preview  shadow-[0_15px_30px_rgba(23,59,40,0.05)] mb-[18px] p-[45px_40px] bg-white flex md:p-[45px_20px] sm:p-[45px_20px] xsm:p-[45px_20px] ">
                                <div>
                                    <h3 class="font-Rubik text-[24px] pb-2.5 leading-[1.2] xsm:text-[22px]">What
                                        happens if Otto reconciles more transactions than are included in my
                                        plan?</h3>
                                    <p class="pb-2">Each reconciliation outside of your monthly allowance will be billed
                                        at the
                                        end of the month. Each plan has different overage fees. Please check the <a
                                                href="/#pricing">current pricing</a>.</p>
                                </div>
                            </div> <!-- /.article-preview -->
                            <div class="article-preview  shadow-[0_15px_30px_rgba(23,59,40,0.05)] mb-[18px] p-[45px_40px] bg-white flex md:p-[45px_20px] sm:p-[45px_20px] xsm:p-[45px_20px] ">
                                <div>
                                    <h3 class="font-Rubik text-[24px] pb-2.5 leading-[1.2] xsm:text-[22px]">Does
                                        Otto need a separate computer?</h3>
                                    <p class="pb-2">No. Otto runs on servers in the cloud so you don't need to buy any
                                        new
                                        equipment. There are no extra costs outside of the monthly fee and any
                                        overage charges based on how much Otto has reconciled that month.</p>
                                </div>
                            </div> <!-- /.article-preview -->
                            <div class="article-preview  shadow-[0_15px_30px_rgba(23,59,40,0.05)] mb-[18px] p-[45px_40px] bg-white flex md:p-[45px_20px] sm:p-[45px_20px] xsm:p-[45px_20px] ">
                                <div>
                                    <h3 class="font-Rubik text-[24px] pb-2.5 leading-[1.2] xsm:text-[22px]">What
                                        will my clients see?</h3>
                                    <p class="pb-2">Otto is a Xero user the same as you and your staff. You can choose a
                                        profile
                                        photo and name to fit in with your practice image and your clients'
                                        expectations.</p>
                                </div>
                            </div> <!-- /.article-preview -->
                        </div> <!-- /.faqs-all-qus -->
                    </div> <!-- /.all-faqs -->
                </div>
            </div>
        </div>
    </div>
</Layout>
