---
import Legal from '../layouts/Legal.astro';
---

<Legal title="With Otto | Terms and conditions" header="Terms and conditions" lastUpdated="25 June 2024">
    <h3 class=" text-[28px] p-[50px_0_25px] font-semibold
									md:text-[24px] md:p-[40px_0_20px]
									sm:text-[24px] sm:p-[40px_0_20px]
									xsm:text-[24px] xsm:p-[40px_0_20px]">1. Agreement To Terms</h3>

    <p class=" leading-[34px] mb-[15px]">These Terms and Conditions constitute a legally binding
        agreement (the "Agreement") made between you, whether personally or on behalf of an
        entity ("you") and With Otto Limited ("Trading as name", "we",
        "us" ', or "our"), concerning your access to and use of our site, https://withotto.app,
        and/or services (collectively, the "Service").</p>

    <p class=" leading-[34px] mb-[15px]">With Otto Limited is a limited company registered
        in England and Wales (registration number 15923965), whose registered office is at
        27 Old Gloucester Street, London, WC1N 3AX.</p>

    <p class=" leading-[34px] mb-[15px]">You agree that by accessing the Service, you have read,
        understood, and agree to be bound by all of these Terms and Conditions. Supplemental
        terms and conditions or documents that may be posted by us from time to time are hereby
        expressly incorporated herein by reference. We reserve the right, in our sole
        discretion, to make changes or modifications to these Terms and Conditions from time to
        time. We will alert you about any changes by updating the "Last updated" date of these
        Terms and Conditions, and you waive any right to receive specific notice of each such
        change. Please ensure that you check the applicable Terms when using the Service so that
        you understand which Terms apply. You will be subject to, and will be deemed to have
        been made aware of and to have accepted, the changes in any revised Terms and Conditions
        by your continued use of the Service after the date such revised Terms and Conditions
        are posted.</p>

    <p class=" leading-[34px] mb-[15px]">The information provided regarding the Service is not
        intended for distribution to or use by any person or entity in any jurisdiction or
        country where such distribution or use would be contrary to law or regulation or which
        would subject us to any registration requirement within such jurisdiction or country.
        Accordingly, those persons who choose to access the Service from other locations do so
        on their own initiative and are solely responsible for compliance with local laws, if
        and to the extent local laws are applicable. The Service is intended for users who are
        at least 18 years old. Persons under the age of 18 are not permitted to use or register
        for the Service.</p>

    <h3 class=" text-[28px] p-[50px_0_25px] font-semibold
									md:text-[24px] md:p-[40px_0_20px]
									sm:text-[24px] sm:p-[40px_0_20px]
									xsm:text-[24px] xsm:p-[40px_0_20px]">2. Intellectual Property Rights</h3>

    <p class=" leading-[34px] mb-[15px]">Unless otherwise indicated, the Service is our
        proprietary property and all source code, databases, functionality, software, website
        designs, audio, video, text, photographs, and graphics relating to the Service
        (collectively, the "Content") and any trademarks, service marks, and logos contained
        therein (the "Marks") are owned or controlled by us or licensed to us. Except as
        expressly provided in these Terms and Conditions, no part of the Service and no Content
        or Marks may be copied, reproduced, aggregated, republished, uploaded, posted, publicly
        displayed, encoded, translated, transmitted, distributed, sold, licensed, or otherwise
        exploited for any commercial purpose whatsoever, without our express prior written
        permission.</p>

    <h3 class=" text-[28px] p-[50px_0_25px] font-semibold
									md:text-[24px] md:p-[40px_0_20px]
									sm:text-[24px] sm:p-[40px_0_20px]
									xsm:text-[24px] xsm:p-[40px_0_20px]">3. Representations</h3>

    <p class=" leading-[34px] mb-[15px]">
        By using the Service, you represent and warrant to us that:<br>

        a) you have capacity to enter into the Agreement and to provide any instruction;<br>

        b) you have read and understood the Agreement and understand the risks involved in
        entering
        into the transactions contemplated by it;<br>

        c) you understand and acknowledge that although the Service is provided to enable to you
        complete bank reconciliations, we do not guarantee the successful completion of bank
        reconciliations;<br>

        d) you understand and acknowledge that while we make reasonable endeavours to ensure the
        accuracy of the information that we are provided with, and which in turn, is provided to
        you, neither we nor any of our directors or employees make any representation or
        warranty,
        express or implied, as to the accuracy or completeness of such information; and<br>

        e) any information provided by you to us is complete, accurate and up to date.
    </p>

    <h3 class=" text-[28px] p-[50px_0_25px] font-semibold
									md:text-[24px] md:p-[40px_0_20px]
									sm:text-[24px] sm:p-[40px_0_20px]
									xsm:text-[24px] xsm:p-[40px_0_20px]">4. Availability Of The Service</h3>

    <p class=" leading-[34px] mb-[15px]">We will take all reasonable steps to ensure that the
        Service is available for you to use at any time. However, there may be times where the
        Service is unavailable. If this happens, where possible we will seek to provide you with
        notice in advance or as soon as we can. You can also contract us by email at
        support@withotto.app.</p>

    <p class=" leading-[34px] mb-[15px]">You agree that we have no liability whatsoever for any
        loss, damage, or inconvenience caused by your inability to access or use the Service
        during any downtime or discontinuance of the Service.</p>

    <h3 class=" text-[28px] p-[50px_0_25px] font-semibold
									md:text-[24px] md:p-[40px_0_20px]
									sm:text-[24px] sm:p-[40px_0_20px]
									xsm:text-[24px] xsm:p-[40px_0_20px]">5. Fees And Payment</h3>

    <p class=" leading-[34px] mb-[15px]">In consideration of entering into this Agreement and
        accessing the Service, you will pay to us all applicable fees as set out at
        https://withotto.app/</p>

    <p class=" leading-[34px] mb-[15px]">You agree to provide current, complete, and accurate
        purchase and account information for all purchases made via the Service. You further
        agree to promptly update account and payment information, including email address,
        payment method, and payment card expiration date, so that we can complete your
        transactions and contact you as needed.</p>

    <p class=" leading-[34px] mb-[15px]">If your purchase is subject to recurring charges, then
        you consent to our charging your payment method on a recurring basis without requiring
        your prior approval for each recurring charge, until you notify us of your cancellation.
        We reserve the right to correct any errors or mistakes in pricing, even if we have
        already requested or received payment.</p>

    <p class=" leading-[34px] mb-[15px]">We may change prices at any time, with 30 days’
        notice.</p>

    <h3 class=" text-[28px] p-[50px_0_25px] font-semibold
									md:text-[24px] md:p-[40px_0_20px]
									sm:text-[24px] sm:p-[40px_0_20px]
									xsm:text-[24px] xsm:p-[40px_0_20px]">6. Free Trial</h3>

    <p class=" leading-[34px] mb-[15px]">We offer a 30-day free trial to new users. The account
        will not be charged and the subscription will be suspended until upgraded to a paid
        version at the end of the free trial.</p>

    <h3 class=" text-[28px] p-[50px_0_25px] font-semibold
									md:text-[24px] md:p-[40px_0_20px]
									sm:text-[24px] sm:p-[40px_0_20px]
									xsm:text-[24px] xsm:p-[40px_0_20px]">7. Termination</h3>

    <p class=" leading-[34px] mb-[15px]">All purchases are non-refundable. You can cancel your
        subscription at any time by logging into your account or contacting us at
        support@withotto.app. Your cancellation will take effect at the end of the current paid
        term.</p>

    <p class=" leading-[34px] mb-[15px]">We may terminate the Agreement on giving you at least
        two months’ notice, unless
        the following apply (or we reasonably suspect them to), in which case we may terminate
        the Agreement with immediate effect if:<br>

        a) you do not comply with any requirement relating to fees and charges due to us,<br>

        b) you fail to comply with the Agreement,<br>

        c) you have acted fraudulently or negligently,<br>

        d) we feel it is required to prevent any imminent threat to the security of the Service.
    </p>

    <h3 class=" text-[28px] p-[50px_0_25px] font-semibold
									md:text-[24px] md:p-[40px_0_20px]
									sm:text-[24px] sm:p-[40px_0_20px]
									xsm:text-[24px] xsm:p-[40px_0_20px]">8. Limitation Of Liability And Indemnity</h3>

    <p class=" leading-[34px] mb-[15px]">We shall only be liable for any loss or damage directly
        resulting from our breach of this Agreement or our negligence or wilful misconduct, and
        in any event, only up to a maximum amount of £5000.</p>

    <p class=" leading-[34px] mb-[15px]">Every care is taken to maintain the standard and
        ongoing operation of the Service, however the internet is now always a stable medium,
        and interruptions of service may occur at any time. We do no accept any ongoing
        obligation or responsibility to operate the Service.</p>

    <p class=" leading-[34px] mb-[15px]">We will not be liable for any damages, loss of
        business, loss of profits, loss of reputation, or loss or corruption of date, caused by
        ant act of omission by us under this Agreement.</p>

    <h3 class=" text-[28px] p-[50px_0_25px] font-semibold
									md:text-[24px] md:p-[40px_0_20px]
									sm:text-[24px] sm:p-[40px_0_20px]
									xsm:text-[24px] xsm:p-[40px_0_20px]">9. Privacy Policy</h3>

    <p class=" leading-[34px] mb-[15px]">Any personal information provided to us, or which we
        otherwise obtain, will be dealt with in line with our <a href="/privacy-policy/">Privacy
            Policy</a>.</p>

    <h3 class=" text-[28px] p-[50px_0_25px] font-semibold
									md:text-[24px] md:p-[40px_0_20px]
									sm:text-[24px] sm:p-[40px_0_20px]
									xsm:text-[24px] xsm:p-[40px_0_20px]">10. Complaints Procedure</h3>

    <p class=" leading-[34px] mb-[15px]">Complaints should be submitted to support@withotoo.app.
        We will then investigate and send an initial response.</p>

    <p class=" leading-[34px] mb-[15px]">We aim to resolve complaints within five business days
        of receiving the complaint. If this is not possible, we will provide you with an update
        on the progress.</p>

    <h3 class=" text-[28px] p-[50px_0_25px] font-semibold
									md:text-[24px] md:p-[40px_0_20px]
									sm:text-[24px] sm:p-[40px_0_20px]
									xsm:text-[24px] xsm:p-[40px_0_20px]">11. Electronic Communications</h3>

    <p class=" leading-[34px] mb-[15px]">You consent to us communicating you by email or by
        placing information within the Service. This includes receiving confirmations and other
        reports.</p>

    <h3 class=" text-[28px] p-[50px_0_25px] font-semibold
									md:text-[24px] md:p-[40px_0_20px]
									sm:text-[24px] sm:p-[40px_0_20px]
									xsm:text-[24px] xsm:p-[40px_0_20px]">12. Third Party Rights</h3>

    <p class=" leading-[34px] mb-[15px]">No party will have any rights to enforce any terms of
        this Agreement that they would not have had but for the Contracts (Rights of Third
        Parties) Act 1999. Our affiliates may enforce this Agreement as if they had been a
        party.</p>

    <h3 class=" text-[28px] p-[50px_0_25px] font-semibold
									md:text-[24px] md:p-[40px_0_20px]
									sm:text-[24px] sm:p-[40px_0_20px]
									xsm:text-[24px] xsm:p-[40px_0_20px]">13. Governing Law And Jurisdiction</h3>

    <p class=" leading-[34px] mb-[15px]">This Agreement and any dispute or claim arising out of
        or in connection with it or its subject matter or formation, shall be governed by the
        law of England and Wales. Each party agrees to submit any dispute to the exclusive
        jurisdiction of the courts of England and Wales.</p>

    <h3 class=" text-[28px] p-[50px_0_25px] font-semibold
									md:text-[24px] md:p-[40px_0_20px]
									sm:text-[24px] sm:p-[40px_0_20px]
									xsm:text-[24px] xsm:p-[40px_0_20px]">14. Force Majeure</h3>

    <p class=" leading-[34px] mb-[15px]">Except as set out otherwise, neither party will be
        liable for any loss caused directly or indirectly from circumstances not within its
        control, including but not limited to acts of God (including pandemics or any other
        endemic healthcare crisis) government restrictions, exchange or market rulings, actions
        affecting securities, clearing or commodity exchanges including suspensions of trading
        or extensions of trading hours, dealing cut-off times and holidays, acts of civil or
        military authority, national emergencies, natural disasters, wars, riots or acts of
        terrorism, industrial disputes, acts or regulations of any governmental or supranational
        bodies and authorities or the failure or malfunction of any telecommunication or
        computer service.</p>
</Legal>
