---
---
<div class="fancy-short-banner-eight p-[75px_0_100px] z-[1] bg-[#EEF6FA]">
    <div class="bg-wrapper">
        <div class="container">
            <div class="flex flex-wrap mx-[-15px]">
                <div class="xl:w-9/12 xl:basis-9/12 lg:w-9/12 lg:basis-9/12 md:w-full md:basis-full sm:w-full sm:basis-full xsm:w-full xsm:basis-full relative px-[15px] m-auto">
                    <div class="title-style-twelve">
                        <h2 class="text-[58px] leading-[1.29em] font-bold md:text-[40px] sm:text-[40px] xsm:text-[40px] text-center">
							<span class="relative">Ready to join the future of smart bank reconciliation?<img class="absolute -translate-x-2/4 left-2/4 -bottom-5 block
								md:hidden
								sm:hidden
								xsm:hidden" src="/images/shape/line-shape-13.svg" alt=""></span></h2>
                        <p class=" text-[24px] leading-[1.6em] text-[#343a40] pt-5 pb-10 px-0">If you'd like to reduce
                            the burden of bookkeeping, we'd love to provide a free on month, completely unlimited trial.</p>
                        <p class=" text-[24px] leading-[1.6em] text-[#343a40] pt-5 pb-10 px-0">Tell us a bit about your
                            practice and we'll get everything set up during the one-hour onboarding call, where we also
                            explain how Otto works and answer any questions you have.</p>
                    </div>
                    <div class="flex justify-center">
                        <a href="/sign-up/" class="leading-[58px] text-white min-w-[180px] text-center transition-all duration-[0.3s] ease-[ease-in-out] px-[34px] py-0 rounded-[50px] bg-[#262626] hover:bg-[#EB5E2A]
								">Sign up for a free trial</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
