---
---
<div class="fancy-short-banner-eight p-[75px_0_100px] z-[1] bg-[#EEF6FA] mt-[200px]">
    <div class="bg-wrapper">
        <div class="container">
            <div class="flex flex-wrap mx-[-15px]">
                <div class="xl:w-9/12 xl:basis-9/12 lg:w-9/12 lg:basis-9/12 md:w-full md:basis-full sm:w-full sm:basis-full xsm:w-full xsm:basis-full relative px-[15px] m-auto">
                    <div class="title-style-twelve">
                        <h2 class="text-[58px] leading-[1.29em] font-bold md:text-[40px] sm:text-[40px] xsm:text-[40px] text-center">
							<span class="relative">Ready to join the future of smart bank reconciliation?<img class="absolute -translate-x-2/4 left-2/4 -bottom-5 block
								md:hidden
								sm:hidden
								xsm:hidden" src="/images/shape/line-shape-13.svg" alt=""></span></h2>
                        <p class=" text-[24px] leading-[1.6em] text-[#343a40] pt-5 px-0">Start your completely unlimited 30-day trial and discover how Otto can transform your practice's bookkeeping efficiency.</p>
                        <p class=" text-[24px] leading-[1.6em] text-[#343a40] pt-5 px-0">Your free trial includes:</p>
                        <ul class=" list-disc pl-[18px] mt-[10px] mb-[30px]">
                            <li>Personalized one-hour onboarding session</li>
                            <li>Complete setup of Otto with your practice</li>
                            <li>Full training on Otto's features</li>
                            <li>Unlimited clients and reconciliations for 30 days</li>
                        </ul>
                    </div>
                    <div class="flex justify-center">
                        <a href="/sign-up/" class="leading-[58px] text-white min-w-[180px] text-center transition-all duration-[0.3s] ease-[ease-in-out] px-[34px] py-0 rounded-[50px] bg-[#262626] hover:bg-[#EB5E2A]
								">Book Your Free Onboarding Call</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
