---
---
<div id="features" class="fancy-feature-eight pt-[150px] md:pt-[100px] sm:pt-[100px] xsm:pt-[100px]">
    <div class="container">
        <div class="title-style-four text-center mb-[60px] md:mb-10 sm:mb-10 xsm:mb-10">
            <div class=" flex flex-wrap mx-[-15px]">
                <div class="m-auto
							xl:w-10/12 xl:basis-10/12
							lg:w-10/12 lg:basis-10/12
							md:w-full md:basis-full
							sm:w-full sm:basis-full
							xsm:w-full xsm:basis-full
							relative px-[15px]">
                    <!--<h6 class=" text-[20px] text-[rgba(0,0,0,0.35)] pb-[15px] font-Roboto-->
                    <!--		md:text-[18px] md:pb-[10px] sm:text-[18px] sm:pb-[10px] xsm:text-[18px] xsm:pb-[10px]">How it works</h6>-->
                    <h2 class="text-[58px] leading-[1.15em] text-[#2a2a2a] font-medium md:text-[40px] md:leading-[1.2em] sm:text-[40px] sm:leading-[1.2em] xsm:text-[40px] xsm:leading-[1.2em]">
                        What does Otto do?
                        <!--<span class="relative z-[1]">first doc with <img-->
                        <!--        class="absolute bottom-[-25px] -translate-x-2/4 z-[-1] left-2/4-->
                        <!--				block-->
                        <!--				sm:hidden-->
                        <!--				xsm:hidden-->
                        <!--				"-->
                        <!--        src="images/shape/line-shape-2.svg" alt=""></span>deski-->
                    </h2>
                </div>
            </div>
        </div>

        <div
                class="block-style-twelve relative px-0 py-[140px] before:content-[url(../images/shape/line-shape-9.svg)] before:absolute before:w-full before:h-[13px] before:bottom-[-7px] before:bg-no-repeat before:bg-cover before:bg-center before:left-0 last:pb-0 last:before:hidden
					md:p-[55px_0]
					sm:p-[55px_0]
					xsm:p-[55px_0]
					">
            <div class=" flex flex-wrap mx-[-15px]">
                <div class="
							xl:w-6/12 xl:basis-6/12
							lg:w-6/12 lg:basis-6/12
							md:w-8/12 md:basis-8/12
							sm:w-full sm:basis-full
							xsm:w-full xsm:basis-full
							relative px-[15px]
							ml-auto
							xl:order-last
							lg:order-last" data-aos="fade-left" data-aos-duration="1200">
                    <div class="illustration-holder">
                        <img src="images/features/undraw_organizing_projects_re_9p1k.svg" alt="">
                    </div>
                </div>
                <div class="px-[15px]
							xl:w-5/12 xl:basis-5/12
							lg:w-5/12 lg:basis-5/12
							md:w-full md:basis-full
							sm:w-full sm:basis-full
							xsm:w-full xsm:basis-full
							xl:order-first
							lg:order-first" data-aos="fade-right" data-aos-duration="1200">
                    <div class="text-wrapper
							md:pt-[60px]
							sm:pt-[60px]
							xsm:pt-[60px]
							">
                        <h6 class=" text-[16px] uppercase text-[rgba(0,0,0,0.4)] tracking-[2px]
								md:text-[15px]
								sm:text-[15px]
								xsm:text-[15px]
								">Bank rule reconciliation
                        </h6>
                        <h2 class="font-Rubik title text-[42px] leading-[1.28em] pt-5 pb-[30px] px-0
								md:text-[28px] md:p-[15px_0_20px]
								sm:text-[28px] sm:p-[15px_0_20px]
								xsm:text-[28px] xsm:p-[15px_0_20px]">A tireless worker</h2>
                        <p class=" text-[22px] leading-[1.59em] md:text-[18px] sm:text-[18px] xsm:text-[18px]">Otto will
                            zip through your bank rule reconciliations without getting bored or making a mistake. Find
                            out how to get the most out of bank rules in our <a
                                    href="/files/Bank%20rules%20quick%20guide.pdf" class="underline">quick guide</a>.
                        </p>
                    </div> <!-- /.text-wrapper -->
                </div>
            </div>
        </div> <!-- /.block-style-twelve -->

        <div
                class="block-style-twelve relative px-0 py-[140px] before:content-[url(../images/shape/line-shape-9.svg)] before:absolute before:w-full before:h-[13px] before:bottom-[-7px] before:bg-no-repeat before:bg-cover before:bg-center before:left-0 last:pb-0 last:before:hidden
					md:p-[55px_0]
					sm:p-[55px_0]
					xsm:p-[55px_0]">
            <div class=" flex flex-wrap mx-[-15px]">
                <div class="
							xl:w-6/12 xl:basis-6/12
							lg:w-6/12 lg:basis-6/12
							md:w-8/12 md:basis-8/12
							sm:w-full sm:basis-full
							xsm:w-full xsm:basis-full
							relative px-[15px] mr-auto" data-aos="fade-right" data-aos-duration="1200">
                    <div class="illustration-holder">
                        <img src="images/features/undraw_detailed_analysis_re_tk6j.svg" alt="">
                    </div>
                </div>
                <div class="
							xl:w-5/12 xl:basis-5/12
							lg:w-5/12 lg:basis-5/12
							md:w-full md:basis-full
							 sm:w-full sm:basis-full
							 xsm:w-full xsm:basis-full relative px-[15px]" data-aos="fade-left"
                     data-aos-duration="1200">
                    <div class="text-wrapper
							md:pt-[60px]
							sm:pt-[60px]
							xsm:pt-[60px]">
                        <h6 class=" text-[16px] uppercase text-[rgba(0,0,0,0.4)] tracking-[2px]
								md:text-[15px]
								sm:text-[15px]
								xsm:text-[15px]">Bill and invoice matching</h6>
                        <h2 class="font-Rubik title text-[42px] leading-[1.28em] pt-5 pb-[30px] px-0
								md:text-[28px] md:p-[15px_0_20px]
								sm:text-[28px] sm:p-[15px_0_20px]
								xsm:text-[28px] xsm:p-[15px_0_20px]">Introducing SmartMatch</h2>
                        <p class=" text-[22px] leading-[1.59em]
								md:text-[18px]
								sm:text-[18px]
								xsm:text-[18px]">SmartMatch is our machine learning model that is trained on each of
                            your clients to make sure reconciliations of bills and invoices are either done correctly,
                            or not at all.</p>
                    </div> <!-- /.text-wrapper -->
                </div>
            </div>
        </div> <!-- /.block-style-twelve -->

        <div
                class="block-style-twelve relative px-0 py-[140px] before:content-[url(../images/shape/line-shape-9.svg)] before:absolute before:w-full before:h-[13px] before:bottom-[-7px] before:bg-no-repeat before:bg-cover before:bg-center before:left-0 last:pb-0 last:before:hidden
					md:p-[55px_0]
					sm:p-[55px_0]
					xsm:p-[55px_0]">
            <div class=" flex flex-wrap mx-[-15px]">
                <div class="
							xl:w-6/12 xl:basis-6/12
							lg:w-6/12 lg:basis-6/12
							md:w-8/12 md:basis-8/12
							sm:w-full sm:basis-full
							xsm:w-full xsm:basis-full
							relative px-[15px] ml-auto xl:order-last lg:order-last " data-aos="fade-left"
                     data-aos-duration="1200">
                    <div class="illustration-holder">
                        <img src="images/features/undraw_data_reports_706v.svg" alt="">
                    </div>
                </div>
                <div class="
							xl:w-5/12 xl:basis-5/12
							lg:w-5/12 lg:basis-5/12
							md:w-full md:basis-full
							sm:w-full sm:basis-full
							xsm:w-full xsm:basis-full
							relative px-[15px]
							xl:order-first lg:order-first" data-aos="fade-right" data-aos-duration="1200">
                    <div class="text-wrapper
							md:pt-[60px]
							sm:pt-[60px]
							xsm:pt-[60px]">
                        <h6 class=" text-[16px] uppercase text-[rgba(0,0,0,0.4)] tracking-[2px]
								md:text-[15px]
								sm:text-[15px]
								xsm:text-[15px]">Portal
                        </h6>
                        <h2 class="font-Rubik title text-[42px] leading-[1.28em] pt-5 pb-[30px] px-0
								md:text-[28px] md:p-[15px_0_20px]
								sm:text-[28px] sm:p-[15px_0_20px]
								xsm:text-[28px] xsm:p-[15px_0_20px]">Monitor the newest member of your team</h2>
                        <p class=" text-[22px] leading-[1.59em]
								md:text-[18px]
								sm:text-[18px]
								xsm:text-[18px]">The portal is where you can see exactly what Otto has been doing. Give
                            him feedback on his performance so he'll become even better in future.</p>
                    </div> <!-- /.text-wrapper -->
                </div>
            </div>
        </div> <!-- /.block-style-twelve -->

        <div
                class="block-style-twelve relative px-0 py-[140px] before:content-[url(../images/shape/line-shape-9.svg)] before:absolute before:w-full before:h-[13px] before:bottom-[-7px] before:bg-no-repeat before:bg-cover before:bg-center before:left-0 last:pb-0 last:before:hidden
					md:p-[55px_0]
					sm:p-[55px_0]
					xsm:p-[55px_0]">
            <div class=" flex flex-wrap mx-[-15px]">
                <div class="
							xl:w-6/12 xl:basis-6/12
							lg:w-6/12 lg:basis-6/12
							md:w-8/12 md:basis-8/12
							sm:w-full sm:basis-full
							xsm:w-full xsm:basis-full
							relative px-[15px] mr-auto" data-aos="fade-right" data-aos-duration="1200">
                    <div class="illustration-holder">
                        <img src="images/features/undraw_teaching_re_g7e3.svg" alt="">
                    </div>
                </div>
                <div class="
							xl:w-5/12 xl:basis-5/12
							lg:w-5/12 lg:basis-5/12
							md:w-full md:basis-full
							 sm:w-full sm:basis-full
							 xsm:w-full xsm:basis-full relative px-[15px]" data-aos="fade-left"
                     data-aos-duration="1200">
                    <div class="text-wrapper
							md:pt-[60px]
							sm:pt-[60px]
							xsm:pt-[60px]">
                        <h6 class=" text-[16px] uppercase text-[rgba(0,0,0,0.4)] tracking-[2px]
								md:text-[15px]
								sm:text-[15px]
								xsm:text-[15px]">Bill and invoice matching</h6>
                        <h2 class="font-Rubik title text-[42px] leading-[1.28em] pt-5 pb-[30px] px-0
								md:text-[28px] md:p-[15px_0_20px]
								sm:text-[28px] sm:p-[15px_0_20px]
								xsm:text-[28px] xsm:p-[15px_0_20px]">GuidedMatch</h2>
                        <p class=" text-[22px] leading-[1.59em]
								md:text-[18px]
								sm:text-[18px]
								xsm:text-[18px]">Otto is a cautious type, so he only matches transactions if he's really
                            sure. With GuidedMatch he will take your feedback and reconcile those uncertain
                            transactions, saving you a trip into Xero.</p>
                    </div> <!-- /.text-wrapper -->
                </div>
            </div>
        </div>
    </div>
</div>
