<footer class="theme-footer-four relative z-[5] p-[80px_0_70px] before:content-[''] before:absolute before:w-full before:h-[52px] before:bg-cover before:top-[-50px] before:left-0 bg-[#fbf3ec] before:bg-[url(../images/shape/122.svg)] before:bg-no-repeat before:bg-[center_top]
		 md:p-[40px_0_25px]
		 sm:p-[40px_0_25px]
		 xsm:p-[40px_0_25px]
		">
    <div class="top-footer">
        <div class="container">
            <div class="flex flex-wrap mx-[-15px] justify-end">
                <div class=" mb-[35px]
						xl:w-3/12 xl:basis-3/12
						lg:w-3/12 lg:basis-3/12
						md:w-4/12 md:basis-4/12
						sm:w-full sm:basis-full
						xsm:w-full xsm:basis-full
						relative px-[15px] footer-about-widget">
                    <h5 class=" text-[28px] text-[#0E0E0E] relative mt-[5px] mb-[21px] mx-0 font-Roboto-Slab">Contact
                    </h5>
                    <ul class="font-Rubik mt-[10px]">
                        <li>
                            <span class=" text-[20px] text-[#343434] transition-all duration-[0.2s] ease-in-out mb-[5px]">support@withotto.app</span></li>
                        <li>
                    </ul>
                </div> <!-- /.about-widget -->
                <div class=" mb-[35px]
						xl:w-3/12 xl:basis-3/12
						lg:w-3/12 lg:basis-3/12
						md:w-4/12 md:basis-4/12
						sm:w-full sm:basis-full
						xsm:w-full xsm:basis-full
						relative px-[15px] footer-list">
                    <h5 class=" text-[28px] text-[#0E0E0E] relative mt-[5px] mb-[21px] mx-0 font-Roboto-Slab">Links
                    </h5>
                    <ul>
                        <li>
                            <a class=" text-[#343434] leading-10 transition-all duration-[0.2s] ease-in-out hover:text-[var(--purple-blue)] hover:underline font-Rubik"
                               href="/">Home</a>
                        </li>
                        <li>
                            <a class=" text-[#343434] leading-10 transition-all duration-[0.2s] ease-in-out hover:text-[var(--purple-blue)] hover:underline font-Rubik"
                               href="/faqs/">FAQs</a>
                        </li>
                        <li>
                            <a class=" text-[#343434] leading-10 transition-all duration-[0.2s] ease-in-out hover:text-[var(--purple-blue)] hover:underline font-Rubik"
                               href="/security-and-privacy/">Security and privacy</a>
                        </li>
                    </ul>
                </div> <!-- /.footer-list -->
                <div class=" mb-[35px]
						xl:w-3/12 xl:basis-3/12
						lg:w-3/12 lg:basis-3/12
						md:w-4/12 md:basis-4/12
						sm:w-full sm:basis-full
						xsm:w-full xsm:basis-full
						relative px-[15px] footer-list">
                    <h5 class=" text-[28px] text-[#0E0E0E] relative mt-[5px] mb-[21px] mx-0 font-Roboto-Slab">Legal
                    </h5>
                    <ul>
                        <li>
                            <a class=" text-[#343434] leading-10 transition-all duration-[0.2s] ease-in-out hover:text-[var(--purple-blue)] hover:underline font-Rubik"
                               href="/terms-and-conditions/">Terms and conditions</a></li>
                        <li>
                            <a class=" text-[#343434] leading-10 transition-all duration-[0.2s] ease-in-out hover:text-[var(--purple-blue)] hover:underline font-Rubik"
                               href="/privacy-policy/">Privacy policy</a></li>
                        <li>
                            <a class=" text-[#343434] leading-10 transition-all duration-[0.2s] ease-in-out hover:text-[var(--purple-blue)] hover:underline font-Rubik"
                               href="/cookie-policy/">Cookie policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="bottom-footer-content">
            <p class=" text-[16px] text-[rgba(0,0,0,0.65)] mt-[-70px] text-left
					md:m-0 md:text-center
					sm:m-0 sm:text-center
					xsm:m-0 xsm:text-center
					">Copyright &copy; 2024 With Otto Limited<br>Made with ☕️ and 🐕 in Ely, Cambridgeshire</p>
        </div>
    </div>
</footer>
