---
import Menu from "./Menu.astro";
---
{/* fixed_top is a hack to work around the background colour not being set when scrolling the page */}
<style>
    .theme-main-menu.sticky-menu.fixed_top.theme-menu-four {
        padding-top: 14px;
        padding-bottom: 14px;
    }
</style>
<div class="theme-main-menu sticky-menu theme-menu-four bg-transparent fixed z-[99] transition-all duration-[0.4s] ease-[ease-out] px-[70px] py-[30px] top-0 inset-x-0 xl:2xl:px-[40px] xl:2xl:py-[30px] xl:p-[30px_70px] lg:p-[30px_25px] md:p-[30px_15px] sm:p-[30px_15px] xsm:p-[30px_15px]">
    <div class="flex items-center justify-between relative md:static sm:static xsm:static ">
        <div class="logo font-medium text-black text-[30px]">
            <a class="block" href="/">With Otto</a>
        </div>
        <Menu></Menu>
    </div>
</div>
