---
import Menu from "./Menu.astro";
---
{/* fixed_top is a hack to work around the background colour not being set when scrolling the page */}
<style>
    .theme-main-menu.sticky-menu.fixed_top.theme-menu-four {
        padding-top: 14px;
        padding-bottom: 14px;
    }
</style>
<div class="fixed_top theme-main-menu sticky-menu theme-menu-four bg-transparent fixed z-[99] transition-all duration-[0.4s] ease-[ease-out] px-[70px] py-[30px] top-0 inset-x-0 xl:2xl:px-[40px] xl:2xl:py-[30px] xl:p-[30px_70px] lg:p-[30px_25px] md:p-[30px_15px] sm:p-[30px_15px] xsm:p-[30px_15px]">
    <div class="flex items-center justify-between relative md:static sm:static xsm:static ">
        <div class="logo font-medium text-black text-[30px]">
            <a class="block" href="/">With Otto</a>
        <!--    <a class="block" href="#">-->
        <!--    <img class=" max-w-[120px]" src="images/logo/deski_05.svg" alt=""></a>-->
        </div>
        <nav id="mega-menu-holder"
             class="navbar navbar-expand-lg z-[1] transition-[0.3s] duration-[linear] ease-[all] p-0 static md:static md:p-0 sm:static sm:p-0 xsm:static xsm:p-0">
        </nav>

        <!--<Menu></Menu>-->
    </div>
</div>
