---
---
<style is:inline>
    .inline-container {
        margin: 0 auto;
    }
</style>

<div class="fancy-short-banner-eight  md:mt-20 sm:mt-20 xsm:mt-20 relative z-[1] p-[75px_0_100px] bg-[#fcf7ea]">
    <div class="container">
        <div class="flex flex-wrap mx-[-15px]">
            <div class="xl:w-8/12 xl:basis-8/12 lg:w-11/12 lg:basis-11/12 md:w-full md:basis-full sm:w-full sm:basis-full xsm:w-full xsm:basis-full relative px-[15px] m-auto"
                 data-aos="fade-up" data-aos-duration="1200">
                <div class="title-style-seven text-center">
                    <h2 class=" text-[48px] font-medium leading-[1.32em]
							md:text-[38px]
							sm:text-[38px]
							xsm:text-[38px]">Get the latest With Otto news</h2>
                    <p class="text-[22px] text-black pt-[22px]">We're developing new features an improving the existing
                        ones all the time.<br>Join the mailing list to be kept in the loop.</p>
                    <script is:inline async src="https://eocampaign1.com/form/fd44a77c-3325-11ef-a04e-4dc107ef8614.js"
                            data-form="fd44a77c-3325-11ef-a04e-4dc107ef8614"></script>
                </div> <!-- /.title-style-six -->
            </div>
        </div>
    </div> <!-- /.container -->
    <img src="images/shape/171.svg" alt=""
         class="shapes shape-one block absolute z-[-1] animate-[jumpThree_4s_infinite_linear] left-[10%] top-[18%] sm:hidden xsm:hidden">
    <img src="images/shape/172.svg" alt=""
         class="shapes shape-two block absolute z-[-1] animate-[jumpTwo_4s_infinite_linear] right-[9%] top-[54%] sm:hidden xsm:hidden">
</div>
