---
const links = [
    {href: '/', text: 'Home'},
    {href: '/#features', text: 'Features'},
    {href: '/#pricing', text: 'Pricing'},
    {href: '/faqs/', text: 'FAQs'},
    {href: 'https://support.withotto.app', text: 'Support'},
]
---

<nav id="mega-menu-holder"
     class="navbar navbar-expand-lg z-[1] transition-[0.3s] duration-[linear] ease-[all] p-0 static md:static md:p-0 sm:static sm:p-0 xsm:static xsm:p-0">
    <div class="nav-container">
        <button class="navbar-toggler float-right w-11 h-[38px] relative z-[99] shadow-[0_15px_20px_0px_rgba(0,0,0,0.05)] p-0 border-[none] rounded-[.25rem] focus:shadow-none bg-[#2a2a2a] before:content-[''] before:absolute before:w-[26px] before:h-0.5 before:pointer-events-none before:transition-transform before:duration-[0.25s] before:origin-[50%_50%] before:left-[9px] before:top-2/4 before:bg-white after:content-[''] after:absolute after:w-[26px] after:h-0.5 after:pointer-events-none after:transition-transform after:duration-[0.25s] after:origin-[50%_50%] after:left-[9px] after:top-2/4 after:bg-white bg-[var(--vin-red)]">
            <span class=" absolute overflow-hidden w-[26px] h-0.5 indent-[200%] transition-opacity duration-[0.25s] -mt-px left-[9px] bg-white"></span>
        </button>
        <div class="navbar-collapse collapse bg-transparent md:absolute md:bg-[#FBF3EC] md:max-h-[70vh] md:overflow-y-auto md:shadow-[0px_40px_50px_0px_rgba(137,139,142,0.15)] md:origin-[100%_0] md:opacity-0 md:invisible md:transition-all md:duration-[0.3s] md:ease-[ease-in-out] md:scale-x-100 md:scale-y-0 md:top-full md:inset-x-0 sm:absolute sm:bg-[#FBF3EC] sm:max-h-[70vh] sm:overflow-y-auto sm:shadow-[0px_40px_50px_0px_rgba(137,139,142,0.15)] sm:origin-[100%_0] sm:opacity-0 sm:invisible sm:transition-all sm:duration-[0.3s] sm:ease-[ease-in-out] sm:scale-x-100 sm:scale-y-0 sm:top-full sm:inset-x-0 xsm:absolute xsm:bg-[#FBF3EC] xsm:max-h-[70vh] xsm:overflow-y-auto xsm:shadow-[0px_40px_50px_0px_rgba(137,139,142,0.15)] xsm:origin-[100%_0] xsm:opacity-0 xsm:invisible xsm:transition-all xsm:duration-[0.3s] xsm:ease-[ease-in-out] xsm:scale-x-100 xsm:scale-y-0 xsm:top-full xsm:inset-x-0"
             id="navbarSupportedContent">
            <div class="xl:flex lg:flex items-center block">
                <ul class="navbar-nav font-Rubik flex flex-col mb-0 pl-0">
                    {links.map(link => {
                        const isActive = Astro.url.pathname === link.href;
                        return (<li class:list={['nav-item', { active: isActive }]}>
                            <a class="nav-link text-[20px] m-[0_24px] p-[30px_0] font-Roboto block text-[#2B2C2E] relative transition-all duration-[0.3s] ease-[ease-in-out] leading-[1.53em] after:content-['\f100'] after:text-[10px] after:absolute after:right-[-15px] after:text-inherit after:transition-all after:duration-[0.3s] after:ease-[ease-in-out] after:border-[none] after:top-[34%] after:font-Flaticon after:inline-block after:ml-[0.255em] md:after:w-10 md:after:text-center md:after:leading-[55px] md:after:right-0 md:after:top-0 sm:after:w-10 sm:after:text-center sm:after:leading-[55px] sm:after:right-0 sm:after:top-0 xsm:after:w-10 xsm:after:text-center xsm:after:leading-[55px] xsm:after:right-0 xsm:after:top-0 text-[var(--vin-red)] lg:m-[0_18px] lg:text-[18px] lg:leading-[1.7em] md:text-[18px] sm:text-[18px] xsm:text-[18px]"
                               href={link.href}>{link.text}</a>
                        </li>)
                    })}
                </ul>
                <ul class="right-button-group flex items-center justify-center ml-[100px] lg:ml-[30px]">
                    <li>
                        <a href="https://portal.withotto.app"
                           class="signIn-action font-medium text-[20px] leading-[45px] text-[var(--heading)] transition-all duration-[0.3s] ease-in-out mr-10 hover:text-[var(--vin-red)]">Portal</a>
                    </li>
                    <li>
                        <a href="/sign-up/" class="theme-btn-five leading-[56px] text-center text-white relative z-[1] p-[0_35px] before:content-[''] before:absolute before:w-full before:h-full before:z-[-1] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:origin-[0_100%] before:scale-x-0 before:scale-y-100 before:left-0 before:bottom-0 hover:before:scale-100 font-Rubik bg-[var(--purple-blue)] before:bg-[var(--vin-red)]
								lg:p-[0_15px]
								">Sign up for a trial</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</nav>
