---
---


<nav id="mega-menu-holder"
     class="navbar navbar-expand-lg z-[1] transition-[0.3s] duration-[linear] ease-[all] p-0 static md:static md:p-0 sm:static sm:p-0 xsm:static xsm:p-0">
    <div class="nav-container">
        <button class="navbar-toggler float-right w-11 h-[38px] relative z-[99] shadow-[0_15px_20px_0px_rgba(0,0,0,0.05)] p-0 border-[none] rounded-[.25rem] focus:shadow-none bg-[#2a2a2a] before:content-[''] before:absolute before:w-[26px] before:h-0.5 before:pointer-events-none before:transition-transform before:duration-[0.25s] before:origin-[50%_50%] before:left-[9px] before:top-2/4 before:bg-white after:content-[''] after:absolute after:w-[26px] after:h-0.5 after:pointer-events-none after:transition-transform after:duration-[0.25s] after:origin-[50%_50%] after:left-[9px] after:top-2/4 after:bg-white bg-[var(--vin-red)]">
            <span class=" absolute overflow-hidden w-[26px] h-0.5 indent-[200%] transition-opacity duration-[0.25s] -mt-px left-[9px] bg-white"></span>
        </button>
        <div class="navbar-collapse collapse bg-transparent md:absolute md:bg-[#FBF3EC] md:max-h-[70vh] md:overflow-y-auto md:shadow-[0px_40px_50px_0px_rgba(137,139,142,0.15)] md:origin-[100%_0] md:opacity-0 md:invisible md:transition-all md:duration-[0.3s] md:ease-[ease-in-out] md:scale-x-100 md:scale-y-0 md:top-full md:inset-x-0 sm:absolute sm:bg-[#FBF3EC] sm:max-h-[70vh] sm:overflow-y-auto sm:shadow-[0px_40px_50px_0px_rgba(137,139,142,0.15)] sm:origin-[100%_0] sm:opacity-0 sm:invisible sm:transition-all sm:duration-[0.3s] sm:ease-[ease-in-out] sm:scale-x-100 sm:scale-y-0 sm:top-full sm:inset-x-0 xsm:absolute xsm:bg-[#FBF3EC] xsm:max-h-[70vh] xsm:overflow-y-auto xsm:shadow-[0px_40px_50px_0px_rgba(137,139,142,0.15)] xsm:origin-[100%_0] xsm:opacity-0 xsm:invisible xsm:transition-all xsm:duration-[0.3s] xsm:ease-[ease-in-out] xsm:scale-x-100 xsm:scale-y-0 xsm:top-full xsm:inset-x-0"
             id="navbarSupportedContent">
            <div class="xl:flex lg:flex items-center block">
                <ul class="navbar-nav font-Rubik flex flex-col mb-0 pl-0">
                    <li class="nav-item dropdown !static active">
                        <a class="nav-link dropdown-toggle text-[20px] m-[0_24px] p-[30px_0] font-Roboto block text-[#2B2C2E] capitalize relative transition-all duration-[0.3s] ease-[ease-in-out] leading-[1.53em] after:content-['\f100'] after:text-[10px] after:absolute after:right-[-15px] after:text-inherit after:transition-all after:duration-[0.3s] after:ease-[ease-in-out] after:border-[none] after:top-[34%] after:font-Flaticon after:inline-block after:ml-[0.255em] md:after:w-10 md:after:text-center md:after:leading-[55px] md:after:right-0 md:after:top-0 sm:after:w-10 sm:after:text-center sm:after:leading-[55px] sm:after:right-0 sm:after:top-0 xsm:after:w-10 xsm:after:text-center xsm:after:leading-[55px] xsm:after:right-0 xsm:after:top-0 text-[var(--vin-red)] lg:m-[0_18px] lg:text-[18px] lg:leading-[1.7em] md:text-[18px] sm:text-[18px] xsm:text-[18px]"
                           aria-expanded="false" href="#">Home</a>
                        <div class="dropdown-menu absolute float-none z-[1000] hidden min-w-[250px] text-base text-[#212529] text-left bg-white bg-clip-padding rounded mt-0 mb-0 mx-0 px-0 py-2 left-0 top-full list-none md:static md:mt-0 md:p-0 sm:static sm:mt-0 sm:p-0 xsm:static xsm:mt-0 xsm:p-0">
                            <ul class="mega-menu flex flex-wrap p-[0_5px]">
                                <li class=" flex-[0_0_16.666%] max-w-[16.666%] md:flex-[0_0_25%] md:max-w-[25%] sm:flex-[0_0_33.33333%] sm:max-w-[33.33333%] xsm:flex-[0_0_50%] xsm:max-w-[50%] p-[10px_10px_0]">
                                    <a href="index-event.html"
                                       class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] img-box p-0 bg-white group">
                                        <img class=" border border-solid border-[rgba(0,0,0,0.05)]"
                                             src="images/menu/home01.png" alt="">
                                        <span class="font-Rubik block text-center text-base text-black leading-[initial] m-[15px_0_20px] group-hover:underline">Event Organiser</span>
                                    </a>
                                </li>
                                <li class=" flex-[0_0_16.666%] max-w-[16.666%] md:flex-[0_0_25%] md:max-w-[25%] sm:flex-[0_0_33.33333%] sm:max-w-[33.33333%] xsm:flex-[0_0_50%] xsm:max-w-[50%] p-[10px_10px_0]">
                                    <a href="index-doc.html"
                                       class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] img-box p-0 bg-white group">
                                        <img class=" border border-solid border-[rgba(0,0,0,0.05)]"
                                             src="images/menu/home02.png" alt="">
                                        <span class="font-Rubik block text-center text-base text-black leading-[initial] m-[15px_0_20px] group-hover:underline">Doc landing</span>
                                    </a>
                                </li>
                                <li class=" flex-[0_0_16.666%] max-w-[16.666%] md:flex-[0_0_25%] md:max-w-[25%] sm:flex-[0_0_33.33333%] sm:max-w-[33.33333%] xsm:flex-[0_0_50%] xsm:max-w-[50%] p-[10px_10px_0] ">
                                    <a href="index.html"
                                       class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] img-box p-0 bg-white group">
                                        <img class=" border border-solid border-[rgba(0,0,0,0.05)]"
                                             src="images/menu/home03.png" alt="">
                                        <span class="font-Rubik block text-center text-base text-black leading-[initial] m-[15px_0_20px] group-hover:underline">Project Management</span>
                                    </a>
                                </li>
                                <li class=" flex-[0_0_16.666%] max-w-[16.666%] md:flex-[0_0_25%] md:max-w-[25%] sm:flex-[0_0_33.33333%] sm:max-w-[33.33333%] xsm:flex-[0_0_50%] xsm:max-w-[50%] p-[10px_10px_0]">
                                    <a href="index-customer-support.html"
                                       class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] img-box p-0 bg-white group">
                                        <img class=" border border-solid border-[rgba(0,0,0,0.05)]"
                                             src="images/menu/home04.png" alt="">
                                        <span class="font-Rubik block text-center text-base text-black leading-[initial] m-[15px_0_20px] group-hover:underline">Customer Support</span>
                                    </a>
                                </li>
                                <li class=" flex-[0_0_16.666%] max-w-[16.666%] md:flex-[0_0_25%] md:max-w-[25%] sm:flex-[0_0_33.33333%] sm:max-w-[33.33333%] xsm:flex-[0_0_50%] xsm:max-w-[50%] p-[10px_10px_0]">
                                    <a href="index(product-landing).html"
                                       class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] img-box p-0 bg-white group">
                                        <img class=" border border-solid border-[rgba(0,0,0,0.05)]"
                                             src="images/menu/home05.png" alt="">
                                        <span class="font-Rubik block text-center text-base text-black leading-[initial] m-[15px_0_20px] group-hover:underline">Product landing</span>
                                    </a>
                                </li>
                                <li class=" flex-[0_0_16.666%] max-w-[16.666%] md:flex-[0_0_25%] md:max-w-[25%] sm:flex-[0_0_33.33333%] sm:max-w-[33.33333%] xsm:flex-[0_0_50%] xsm:max-w-[50%] p-[10px_10px_0]">
                                    <a href="index(product-landing-dark).html"
                                       class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] img-box p-0 bg-white group">
                                        <img class=" border border-solid border-[rgba(0,0,0,0.05)]"
                                             src="images/menu/home06.png" alt="">
                                        <span class="font-Rubik block text-center text-base text-black leading-[initial] m-[15px_0_20px] group-hover:underline">Product landing Dark</span>
                                    </a>
                                </li>
                                <li class=" flex-[0_0_16.666%] max-w-[16.666%] md:flex-[0_0_25%] md:max-w-[25%] sm:flex-[0_0_33.33333%] sm:max-w-[33.33333%] xsm:flex-[0_0_50%] xsm:max-w-[50%] p-[10px_10px_0]">
                                    <a href="index(note-taking).html"
                                       class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] img-box p-0 bg-white group">
                                        <img class=" border border-solid border-[rgba(0,0,0,0.05)]"
                                             src="images/menu/home07.png" alt="">
                                        <span class="font-Rubik block text-center text-base text-black leading-[initial] m-[15px_0_20px] group-hover:underline">Note Taking App landing</span>
                                    </a>
                                </li>
                                <li class=" flex-[0_0_16.666%] max-w-[16.666%] md:flex-[0_0_25%] md:max-w-[25%] sm:flex-[0_0_33.33333%] sm:max-w-[33.33333%] xsm:flex-[0_0_50%] xsm:max-w-[50%] p-[10px_10px_0]">
                                    <a href="index(video-editor).html"
                                       class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] img-box p-0 bg-white group">
                                        <img class=" border border-solid border-[rgba(0,0,0,0.05)]"
                                             src="images/menu/home08.png" alt="">
                                        <span class="font-Rubik block text-center text-base text-black leading-[initial] m-[15px_0_20px] group-hover:underline">Video Editor Landing</span>
                                    </a>
                                </li>
                                <li class=" flex-[0_0_16.666%] max-w-[16.666%] md:flex-[0_0_25%] md:max-w-[25%] sm:flex-[0_0_33.33333%] sm:max-w-[33.33333%] xsm:flex-[0_0_50%] xsm:max-w-[50%] p-[10px_10px_0]">
                                    <a href="index(appointment-scheduling).html"
                                       class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] img-box p-0 bg-white group">
                                        <img class=" border border-solid border-[rgba(0,0,0,0.05)]"
                                             src="images/menu/home10.png" alt="">
                                        <span class="font-Rubik block text-center text-base text-black leading-[initial] m-[15px_0_20px] group-hover:underline">Appointment Scheduling</span>
                                    </a>
                                </li>
                                <li class=" flex-[0_0_16.666%] max-w-[16.666%] md:flex-[0_0_25%] md:max-w-[25%] sm:flex-[0_0_33.33333%] sm:max-w-[33.33333%] xsm:flex-[0_0_50%] xsm:max-w-[50%] p-[10px_10px_0]">
                                    <a href="index(mobile-appV1).html"
                                       class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] img-box p-0 bg-white group">
                                        <img class=" border border-solid border-[rgba(0,0,0,0.05)]"
                                             src="images/menu/home11.png" alt="">
                                        <span class="font-Rubik block text-center text-base text-black leading-[initial] m-[15px_0_20px] group-hover:underline">Mobile App Landing</span>
                                    </a>
                                </li>
                                <li class=" flex-[0_0_16.666%] max-w-[16.666%] md:flex-[0_0_25%] md:max-w-[25%] sm:flex-[0_0_33.33333%] sm:max-w-[33.33333%] xsm:flex-[0_0_50%] xsm:max-w-[50%] p-[10px_10px_0]">
                                    <a href="index(doc-signature).html"
                                       class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] img-box p-0 bg-white group">
                                        <img class=" border border-solid border-[rgba(0,0,0,0.05)]"
                                             src="images/menu/home12.png" alt="">
                                        <span class="font-Rubik block text-center text-base text-black leading-[initial] m-[15px_0_20px] group-hover:underline">Doc Signature Landing</span>
                                    </a>
                                </li>
                                <li class=" flex-[0_0_16.666%] max-w-[16.666%] md:flex-[0_0_25%] md:max-w-[25%] sm:flex-[0_0_33.33333%] sm:max-w-[33.33333%] xsm:flex-[0_0_50%] xsm:max-w-[50%] p-[10px_10px_0]">
                                    <a href="index(webiste-builder).html"
                                       class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] img-box p-0 bg-white group">
                                        <img class=" border border-solid border-[rgba(0,0,0,0.05)]"
                                             src="images/menu/home13.png" alt="">
                                        <span class="font-Rubik block text-center text-base text-black leading-[initial] m-[15px_0_20px] group-hover:underline">Website Builder</span>
                                    </a>
                                </li>
                                <li class=" flex-[0_0_16.666%] max-w-[16.666%] md:flex-[0_0_25%] md:max-w-[25%] sm:flex-[0_0_33.33333%] sm:max-w-[33.33333%] xsm:flex-[0_0_50%] xsm:max-w-[50%] p-[10px_10px_0]">
                                    <a href="index(form-survey).html"
                                       class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] img-box p-0 bg-white group">
                                        <img class=" border border-solid border-[rgba(0,0,0,0.05)]"
                                             src="images/menu/home14.png" alt="">
                                        <span class="font-Rubik block text-center text-base text-black leading-[initial] m-[15px_0_20px] group-hover:underline">Form & Survey</span>
                                    </a>
                                </li>
                                <li class=" flex-[0_0_16.666%] max-w-[16.666%] md:flex-[0_0_25%] md:max-w-[25%] sm:flex-[0_0_33.33333%] sm:max-w-[33.33333%] xsm:flex-[0_0_50%] xsm:max-w-[50%] p-[10px_10px_0]">
                                    <a href="index(vr).html"
                                       class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] img-box p-0 bg-white group">
                                        <img class=" border border-solid border-[rgba(0,0,0,0.05)]"
                                             src="images/menu/home16.png" alt="">
                                        <span class="font-Rubik block text-center text-base text-black leading-[initial] m-[15px_0_20px] group-hover:underline">VR Landing</span>
                                    </a>
                                </li>
                                <li class=" flex-[0_0_16.666%] max-w-[16.666%] md:flex-[0_0_25%] md:max-w-[25%] sm:flex-[0_0_33.33333%] sm:max-w-[33.33333%] xsm:flex-[0_0_50%] xsm:max-w-[50%] p-[10px_10px_0]">
                                    <a href="index(e-commerce).html"
                                       class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] img-box p-0 bg-white group">
                                        <img class=" border border-solid border-[rgba(0,0,0,0.05)]"
                                             src="images/menu/home15.png" alt="">
                                        <span class="font-Rubik block text-center text-base text-black leading-[initial] m-[15px_0_20px] group-hover:underline">E-commerce</span>
                                    </a>
                                </li>
                                <li class=" flex-[0_0_16.666%] max-w-[16.666%] md:flex-[0_0_25%] md:max-w-[25%] sm:flex-[0_0_33.33333%] sm:max-w-[33.33333%] xsm:flex-[0_0_50%] xsm:max-w-[50%] p-[10px_10px_0]">
                                    <a href="index(crm-platform).html"
                                       class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] img-box p-0 bg-white group">
                                        <img class=" border border-solid border-[rgba(0,0,0,0.05)]"
                                             src="images/menu/home17.png" alt="">
                                        <span class="font-Rubik block text-center text-base text-black leading-[initial] m-[15px_0_20px] group-hover:underline">CRM Platform</span>
                                    </a>
                                </li>
                                <li class=" flex-[0_0_16.666%] max-w-[16.666%] md:flex-[0_0_25%] md:max-w-[25%] sm:flex-[0_0_33.33333%] sm:max-w-[33.33333%] xsm:flex-[0_0_50%] xsm:max-w-[50%] p-[10px_10px_0]">
                                    <a href="coming-soon-v1.html"
                                       class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] img-box p-0 bg-white group">
                                        <img class=" border border-solid border-[rgba(0,0,0,0.05)]"
                                             src="images/menu/home09.png" alt="">
                                        <span class="font-Rubik block text-center text-base text-black leading-[initial] m-[15px_0_20px] group-hover:underline">Coming Soon</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.dropdown-menu-->
                    </li>
                    <li class="nav-item dropdown relative group">
                        <a class="nav-link dropdown-toggle text-[20px] m-[0_24px] p-[30px_0] font-Roboto block text-[#2B2C2E] capitalize relative transition-all duration-[0.3s] ease-[ease-in-out] leading-[1.53em] after:content-['\f100'] after:text-[10px] after:absolute after:right-[-15px] after:text-inherit after:transition-all after:duration-[0.3s] after:ease-[ease-in-out] after:border-[none] after:top-[34%] after:font-Flaticon after:inline-block after:ml-[0.255em] md:after:w-10 md:after:text-center md:after:leading-[55px] md:after:right-0 md:after:top-0 sm:after:w-10 sm:after:text-center sm:after:leading-[55px] sm:after:right-0 sm:after:top-0 xsm:after:w-10 xsm:after:text-center xsm:after:leading-[55px] xsm:after:right-0 xsm:after:top-0 group-hover:text-[var(--vin-red)] lg:m-[0_18px] lg:text-[18px] lg:leading-[1.7em] md:text-[18px] sm:text-[18px] xsm:text-[18px]"
                           href="#">Portfolio</a>
                        <ul class="dropdown-menu absolute float-none z-[1000] hidden min-w-[250px] text-base text-[#212529] text-left bg-white bg-clip-padding rounded mt-0 mb-0 mx-0 px-0 py-2 left-0 top-full list-none md:static md:mt-0 md:p-0 sm:static sm:mt-0 sm:p-0 xsm:static xsm:mt-0 xsm:p-0 before:font-Awesome before:content-['\f0de'] before:absolute before:text-[50px] before:text-white before:leading-[0] before:left-[17%] before:top-2 before:drop-shadow-[0px_-7px_10px_rgba(137,139,142,0.06)] before:block md:before:hidden sm:before:hidden xsm:before:hidden">
                            <li class="group/second">
                                <a href="portfolio-V1.html"
                                   class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] p-[0_5px_0_25px] group-hover/second:text-[var(--vin-red)]">Classic
                                    Style</a>
                            </li>

                            <li class="group/second">
                                <a href="portfolio-V2.html"
                                   class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] p-[0_5px_0_25px] group-hover/second:text-[var(--vin-red)]">Grid
                                    2 Columns</a>
                            </li>

                            <li class="group/second">
                                <a href="portfolio-V3.html"
                                   class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] p-[0_5px_0_25px] group-hover/second:text-[var(--vin-red)]">Grid
                                    3 Columns</a>
                            </li>

                            <li class="group/second">
                                <a href="portfolio-V4.html"
                                   class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] p-[0_5px_0_25px] group-hover/second:text-[var(--vin-red)]">Gallery
                                    Slider</a>
                            </li>

                            <li class="group/second">
                                <a href="portfolio-V5.html"
                                   class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] p-[0_5px_0_25px] group-hover/second:text-[var(--vin-red)]">Grid
                                    Single</a>
                            </li>

                            <li class="group/second">
                                <a href="portfolio-detailsV1.html"
                                   class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] p-[0_5px_0_25px] group-hover/second:text-[var(--vin-red)]">Classic
                                    Details</a>
                            </li>
                        </ul>
                        <!-- /.dropdown-menu -->
                    </li>
                    <li class="nav-item dropdown relative group mega-dropdown-md">
                        <a class="nav-link dropdown-toggle text-[20px] m-[0_24px] p-[30px_0] font-Roboto block text-[#2B2C2E] capitalize relative transition-all duration-[0.3s] ease-[ease-in-out] leading-[1.53em] after:content-['\f100'] after:text-[10px] after:absolute after:right-[-15px] after:text-inherit after:transition-all after:duration-[0.3s] after:ease-[ease-in-out] after:border-[none] after:top-[34%] after:font-Flaticon after:inline-block after:ml-[0.255em] md:after:w-10 md:after:text-center md:after:leading-[55px] md:after:right-0 md:after:top-0 sm:after:w-10 sm:after:text-center sm:after:leading-[55px] sm:after:right-0 sm:after:top-0 xsm:after:w-10 xsm:after:text-center xsm:after:leading-[55px] xsm:after:right-0 xsm:after:top-0 group-hover:text-[var(--vin-red)] lg:m-[0_18px] lg:text-[18px] lg:leading-[1.7em] md:text-[18px] sm:text-[18px] xsm:text-[18px]"
                           href="#">Pages</a>
                        <ul class="dropdown-menu absolute float-none z-[1000] hidden min-w-[250px] text-base text-[#212529] text-left bg-white bg-clip-padding rounded m-0 p-[0_15px] left-0 top-full list-none md:static md:mt-0 md:p-0 sm:static sm:mt-0 sm:p-0 xsm:static xsm:mt-0 xsm:p-0">
                            <li>
                                <div class="flex flex-wrap mx-[-15px]">
                                    <div class="xl:w-3/12 xl:basis-3/12 lg:w-3/12 lg:basis-3/12 w-full basis-full relative px-[15px] md:border-none sm:border-none xsm:border-none">
                                        <div class="menu-column p-[10px]">
                                            <h6 class="mega-menu-title text-[var(--vin-red)] text-sm tracking-[1.15px] uppercase underline inline-block m-[15px_0_5px] font-gilroy-bold">
                                                About Us</h6>
                                            <ul class="mega-dropdown-list">
                                                <li class="group/second"><a href="about-us(cs).html"
                                                                            class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] group-hover/second:text-[var(--vin-red)]">Customer
                                                    Support</a></li>
                                                <li class="group/second"><a href="about-us(event).html"
                                                                            class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] group-hover/second:text-[var(--vin-red)]">Event
                                                    Organiser</a></li>
                                                <li class="group/second"><a href="about-us(management).html"
                                                                            class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] group-hover/second:text-[var(--vin-red)]">Project
                                                    Management</a></li>
                                                <li class="group/second"><a href="about-us(doc).html"
                                                                            class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] group-hover/second:text-[var(--vin-red)]">Documentation</a>
                                                </li>
                                            </ul>
                                            <h6 class="mega-menu-title text-[var(--vin-red)] text-sm tracking-[1.15px] uppercase underline inline-block m-[15px_0_5px] font-gilroy-bold">
                                                Team</h6>
                                            <ul class="mega-dropdown-list">
                                                <li class="group/second"><a href="team-V1.html"
                                                                            class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] group-hover/second:text-[var(--vin-red)]">Team
                                                    Version 01</a></li>
                                                <li class="group/second"><a href="team-V2.html"
                                                                            class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] group-hover/second:text-[var(--vin-red)]">Team
                                                    Version 02</a></li>
                                                <li class="group/second"><a href="team-single.html"
                                                                            class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] group-hover/second:text-[var(--vin-red)]">Team
                                                    Details</a></li>
                                            </ul>


                                        </div>
                                    </div>
                                    <div class="xl:w-3/12 xl:basis-3/12 lg:w-3/12 lg:basis-3/12 w-full basis-full relative px-[15px] border-l-[1px] border-solid border-l-[#F4F4F4] md:border-none sm:border-none xsm:border-none">
                                        <div class="menu-column p-[10px]">
                                            <h6 class="mega-menu-title text-[var(--vin-red)] text-sm tracking-[1.15px] uppercase underline inline-block m-[15px_0_5px] font-gilroy-bold">
                                                Pricing</h6>
                                            <ul class="mega-dropdown-list">
                                                <li class="group/second"><a href="pricing(cs).html"
                                                                            class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] group-hover/second:text-[var(--vin-red)]">Customer
                                                    Support</a></li>
                                                <li class="group/second"><a href="pricing(event).html"
                                                                            class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] group-hover/second:text-[var(--vin-red)]">Event
                                                    Organiser</a></li>
                                                <li class="group/second"><a href="pricing(management).html"
                                                                            class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] group-hover/second:text-[var(--vin-red)]">Project
                                                    Management</a></li>
                                            </ul>
                                            <h6 class="mega-menu-title text-[var(--vin-red)] text-sm tracking-[1.15px] uppercase underline inline-block m-[15px_0_5px] font-gilroy-bold">
                                                Contact Us</h6>
                                            <ul class="mega-dropdown-list">
                                                <li class="group/second"><a href="contact-us(cs).html"
                                                                            class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] group-hover/second:text-[var(--vin-red)]">Customer
                                                    Support</a></li>
                                                <li class="group/second"><a href="contact-us(event).html"
                                                                            class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] group-hover/second:text-[var(--vin-red)]">Event
                                                    Organiser</a></li>
                                                <li class="group/second"><a href="contact-us(management).html"
                                                                            class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] group-hover/second:text-[var(--vin-red)]">Project
                                                    Management</a></li>
                                                <li class="group/second"><a href="contact-us(doc).html"
                                                                            class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] group-hover/second:text-[var(--vin-red)]">Documentation</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="xl:w-3/12 xl:basis-3/12 lg:w-3/12 lg:basis-3/12 w-full basis-full relative px-[15px] border-l-[1px] border-solid border-l-[#F4F4F4] md:border-none sm:border-none xsm:border-none">
                                        <div class="menu-column p-[10px]">
                                            <h6 class="mega-menu-title text-[var(--vin-red)] text-sm tracking-[1.15px] uppercase underline inline-block m-[15px_0_5px] font-gilroy-bold">
                                                Services</h6>
                                            <ul class="mega-dropdown-list">
                                                <li class="group/second"><a href="service-v1.html"
                                                                            class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] group-hover/second:text-[var(--vin-red)]">Service
                                                    Version 01</a></li>
                                                <li class="group/second"><a href="service-v2.html"
                                                                            class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] group-hover/second:text-[var(--vin-red)]">Service
                                                    Version 02</a></li>
                                                <li class="group/second"><a href="service-v3.html"
                                                                            class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] group-hover/second:text-[var(--vin-red)]">Service
                                                    Version 03</a></li>
                                                <li class="group/second"><a href="service-v4.html"
                                                                            class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] group-hover/second:text-[var(--vin-red)]">Service
                                                    Version 04</a></li>
                                                <li class="group/second"><a href="service-detailsV1.html"
                                                                            class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] group-hover/second:text-[var(--vin-red)]">Service
                                                    Details</a></li>
                                            </ul>
                                            <h6 class="mega-menu-title text-[var(--vin-red)] text-sm tracking-[1.15px] uppercase underline inline-block m-[15px_0_5px] font-gilroy-bold">
                                                Feature</h6>
                                            <ul class="mega-dropdown-list">
                                                <li class="group/second"><a href="solution(managment).html"
                                                                            class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] group-hover/second:text-[var(--vin-red)]">Our
                                                    Solution</a></li>
                                                <li class="group/second"><a href="product(cs).html"
                                                                            class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] group-hover/second:text-[var(--vin-red)]">Product
                                                    Feature</a></li>
                                                <li class="group/second"><a href="features(cs).html"
                                                                            class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] group-hover/second:text-[var(--vin-red)]">Our
                                                    Features</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="xl:w-3/12 xl:basis-3/12 lg:w-3/12 lg:basis-3/12 w-full basis-full relative px-[15px] border-l-[1px] border-solid border-l-[#F4F4F4] md:border-none sm:border-none xsm:border-none">
                                        <div class="menu-column p-[10px]">
                                            <h6 class="mega-menu-title text-[var(--vin-red)] text-sm tracking-[1.15px] uppercase underline inline-block m-[15px_0_5px] font-gilroy-bold">
                                                Shop Elements</h6>
                                            <ul class="mega-dropdown-list">
                                                <li class="group/second"><a href="shop-details.html"
                                                                            class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] group-hover/second:text-[var(--vin-red)]">Product
                                                    Details</a></li>
                                                <li class="group/second"><a href="cart.html"
                                                                            class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] group-hover/second:text-[var(--vin-red)]">Cart</a>
                                                </li>
                                                <li class="group/second"><a href="checkout.html"
                                                                            class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] group-hover/second:text-[var(--vin-red)]">Checkout</a>
                                                </li>
                                            </ul>
                                            <h6 class="mega-menu-title text-[var(--vin-red)] text-sm tracking-[1.15px] uppercase underline inline-block m-[15px_0_5px] font-gilroy-bold">
                                                Others</h6>
                                            <ul class="mega-dropdown-list">
                                                <li class="group/second"><a href="faqs.html"
                                                                            class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] group-hover/second:text-[var(--vin-red)]">FAQ</a>
                                                </li>
                                                <li class="group/second"><a href="faq-details.html"
                                                                            class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] group-hover/second:text-[var(--vin-red)]">Faq
                                                    Details</a></li>
                                                <li class="group/second"><a href="terms-and-condition.html"
                                                                            class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] group-hover/second:text-[var(--vin-red)]">Terms
                                                    & Condition</a></li>
                                                <li class="group/second"><a href="login.html"
                                                                            class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] group-hover/second:text-[var(--vin-red)]">Login</a>
                                                </li>
                                                <li class="group/second"><a href="sign-up.html"
                                                                            class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] group-hover/second:text-[var(--vin-red)]">Signup</a>
                                                </li>
                                                <li class="group/second"><a href="404.html"
                                                                            class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] group-hover/second:text-[var(--vin-red)]">404
                                                    Error</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>

                    </li>
                    <li class="nav-item dropdown relative group">
                        <a class="nav-link dropdown-toggle text-[20px] m-[0_24px] p-[30px_0] font-Roboto block text-[#2B2C2E] capitalize relative transition-all duration-[0.3s] ease-[ease-in-out] leading-[1.53em] after:content-['\f100'] after:text-[10px] after:absolute after:right-[-15px] after:text-inherit after:transition-all after:duration-[0.3s] after:ease-[ease-in-out] after:border-[none] after:top-[34%] after:font-Flaticon after:inline-block after:ml-[0.255em] md:after:w-10 md:after:text-center md:after:leading-[55px] md:after:right-0 md:after:top-0 sm:after:w-10 sm:after:text-center sm:after:leading-[55px] sm:after:right-0 sm:after:top-0 xsm:after:w-10 xsm:after:text-center xsm:after:leading-[55px] xsm:after:right-0 xsm:after:top-0 group-hover:text-[var(--vin-red)] lg:m-[0_18px] lg:text-[18px] lg:leading-[1.7em] md:text-[18px] sm:text-[18px] xsm:text-[18px]"
                           href="#">Blogs</a>
                        <ul class="dropdown-menu absolute float-none z-[1000] hidden min-w-[250px] text-base text-[#212529] text-left bg-white bg-clip-padding rounded mt-0 mb-0 mx-0 px-0 py-2 left-0 top-full list-none md:static md:mt-0 md:p-0 sm:static sm:mt-0 sm:p-0 xsm:static xsm:mt-0 xsm:p-0 before:font-Awesome before:content-['\f0de'] before:absolute before:text-[50px] before:text-white before:leading-[0] before:left-[17%] before:top-2 before:drop-shadow-[0px_-7px_10px_rgba(137,139,142,0.06)] before:block md:before:hidden sm:before:hidden xsm:before:hidden ">
                            <li class="dropdown-submenu dropdown group/second">
                                <a href="#"
                                   class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] p-[0_5px_0_25px] dropdown-toggle after:content-['+'] after:absolute after:leading-[50px] after:text-xl after:transition-all after:duration-[0.3s] after:ease-[ease-in-out] after:right-3.5 after:top-0 after:font-Roboto md:after:w-10 md:after:text-center md:after:text-[20px] md:after:leading-[50px] md:after:right-[14px] md:after:top-0 sm:after:w-10 sm:after:text-center sm:after:text-[20px] sm:after:leading-[50px] sm:after:right-[14px] sm:after:top-0 xsm:after:w-10 xsm:after:text-center xsm:after:text-[20px] xsm:after:leading-[50px] xsm:after:right-[14px] xsm:after:top-0 group-hover/second:after:rotate-45 group-hover/second:text-[var(--vin-red)]">Third
                                    Level Menu</a>
                                <ul class="dropdown-menu absolute float-none z-[1000] hidden min-w-[250px] text-base text-[#212529] text-left bg-white bg-clip-padding rounded mt-0 mb-0 mx-0 px-0 py-2 left-0 top-full list-none md:static md:mt-0 md:p-0 sm:static sm:mt-0 sm:p-0 xsm:static xsm:mt-0 xsm:p-0">
                                    <li class="group/third"><a href="#"
                                                               class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] p-[0_5px_0_25px] group-hover/third:text-[var(--vin-red)]">Menu
                                        Level 01</a></li>
                                    <li class="group/third"><a href="#"
                                                               class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] p-[0_5px_0_25px] group-hover/third:text-[var(--vin-red)]">Menu
                                        Level 02</a></li>
                                    <li class="group/third"><a href="#"
                                                               class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] p-[0_5px_0_25px] group-hover/third:text-[var(--vin-red)]">Menu
                                        Level 03</a></li>
                                </ul>
                            </li>
                            <li class="group/second">
                                <a href="blog-v1.html"
                                   class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] p-[0_5px_0_25px] group-hover/second:text-[var(--vin-red)]">Blog
                                    Version 01</a>
                            </li>
                            <li class="group/second">
                                <a href="blog-v2.html"
                                   class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] p-[0_5px_0_25px] group-hover/second:text-[var(--vin-red)]">Blog
                                    Version 02</a>
                            </li>
                            <li class="group/second">
                                <a href="blog-v3.html"
                                   class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] p-[0_5px_0_25px] group-hover/second:text-[var(--vin-red)]">Blog
                                    Version 03</a>
                            </li>
                            <li class="group/second">
                                <a href="blog-v4.html"
                                   class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] p-[0_5px_0_25px] group-hover/second:text-[var(--vin-red)]">Blog
                                    Version 04</a>
                            </li>
                            <li class="group/second">
                                <a href="blog-details-v1.html"
                                   class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] p-[0_5px_0_25px] group-hover/second:text-[var(--vin-red)]">Blog
                                    Details</a>
                            </li>
                        </ul> <!-- /.dropdown-menu -->
                    </li>
                    <li class="nav-item dropdown relative group">
                        <a class="nav-link dropdown-toggle text-[20px] m-[0_24px] p-[30px_0] font-Roboto block text-[#2B2C2E] capitalize relative transition-all duration-[0.3s] ease-[ease-in-out] leading-[1.53em] after:content-['\f100'] after:text-[10px] after:absolute after:right-[-15px] after:text-inherit after:transition-all after:duration-[0.3s] after:ease-[ease-in-out] after:border-[none] after:top-[34%] after:font-Flaticon after:inline-block after:ml-[0.255em] md:after:w-10 md:after:text-center md:after:leading-[55px] md:after:right-0 md:after:top-0 sm:after:w-10 sm:after:text-center sm:after:leading-[55px] sm:after:right-0 sm:after:top-0 xsm:after:w-10 xsm:after:text-center xsm:after:leading-[55px] xsm:after:right-0 xsm:after:top-0 group-hover:text-[var(--vin-red)] lg:m-[0_18px] lg:text-[18px] lg:leading-[1.7em] md:text-[18px] sm:text-[18px] xsm:text-[18px]"
                           href="#">Docs</a>
                        <ul class="dropdown-menu absolute float-none z-[1000] hidden min-w-[250px] text-base text-[#212529] text-left bg-white bg-clip-padding rounded mt-0 mb-0 mx-0 px-0 py-2 left-0 top-full list-none md:static md:mt-0 md:p-0 sm:static sm:mt-0 sm:p-0 xsm:static xsm:mt-0 xsm:p-0 before:font-Awesome before:content-['\f0de'] before:absolute before:text-[50px] before:text-white before:leading-[0] before:left-[17%] before:top-2 before:drop-shadow-[0px_-7px_10px_rgba(137,139,142,0.06)] before:block md:before:hidden sm:before:hidden xsm:before:hidden ">
                            <li class="group/second">
                                <a href="doc-fullwidth.html"
                                   class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] p-[0_5px_0_25px] group-hover/second:text-[var(--vin-red)]">Full
                                    Width</a>
                            </li>
                            <li class="group/second">
                                <a href="doc-fullwidth-banner.html"
                                   class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] p-[0_5px_0_25px] group-hover/second:text-[var(--vin-red)]">Full
                                    Width Banner</a>
                            </li>
                            <li class="group/second">
                                <a href="doc-box.html"
                                   class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] p-[0_5px_0_25px] group-hover/second:text-[var(--vin-red)]">Doc
                                    Box</a>
                            </li>
                            <li class="group/second">
                                <a href="doc-box-banner.html"
                                   class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] p-[0_5px_0_25px] group-hover/second:text-[var(--vin-red)]">Doc
                                    Box with Banner</a>
                            </li>
                            <li class="group/second">
                                <a href="changelog.html"
                                   class="dropdown-item block w-full clear-both font-normal text-[#212529] bg-transparent border-0 text-[17px] leading-[45px] capitalize text-[var(--heading)] relative z-[1] transition-all duration-[0.2s] ease-[ease-in-out] p-[0_5px_0_25px] group-hover/second:text-[var(--vin-red)]">Changelog
                                    <code class="text-danger">**</code></a>
                            </li>
                        </ul>
                        <!-- /.dropdown-menu -->
                    </li>
                </ul>
                <ul class="right-button-group flex items-center justify-center ml-[100px] lg:ml-[30px]">
                    <li>
                        <a href="login.html"
                           class="signIn-action font-medium text-[20px] leading-[45px] text-[var(--heading)] transition-all duration-[0.3s] ease-in-out mr-10 hover:text-[var(--vin-red)]">Login</a>
                    </li>
                    <li>
                        <a href="sign-up.html" class="theme-btn-five leading-[56px] text-center text-white relative z-[1] p-[0_35px] before:content-[''] before:absolute before:w-full before:h-full before:z-[-1] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:origin-[0_100%] before:scale-x-0 before:scale-y-100 before:left-0 before:bottom-0 hover:before:scale-100 font-Rubik bg-[var(--purple-blue)] before:bg-[var(--vin-red)]
								lg:p-[0_15px]
								">Create your event</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</nav>
