---
---
<style>
    .text-feature {
        padding-top: 1.48rem;
        padding-bottom: 1.48rem;
    }
</style>

<div class="pricing-section-eight lg-container mt-[150px]  md:mt-[100px] sm:mt-[100px] xsm:mt-[100px] scroll-target"
     id="pricing">
    <div class="container">
        <div class="border-t-[#dee2e6] border-t border-solid pt-[150px] md:pt-[100px] sm:pt-[100px] xsm:pt-[100px]">
            <div class="title-style-twelve text-center pb-[120px]  md:pb-[60px] sm:pb-[60px] xsm:pb-[60px]">
                <h2 class=" font-bold text-[58px] leading-[1.29em]
						md:text-[40px]
						sm:text-[40px]
						xsm:text-[40px]"><span class="relative">Find the right plan<img class=" absolute -translate-x-2/4 z-[-1] left-2/4 -bottom-5 block
							md:hidden
							sm:hidden
							xsm:hidden" src="images/shape/line-shape-13.svg" alt=""></span></h2>
                <p class="mt-10 text-[24px] leading-[1.75em]
						md:text-[18px]
						sm:text-[18px]
						xsm:text-[18px]">Otto has been built by a small practice so we want to make sure pricing works
                    for practices of all sizes. Choose a plan that fits with your size and the features you need.</p>
            </div>
        </div>

        <div class="flex flex-wrap no-gutters mx-0 relative">
            <div class="xl:w-3/12 xl:basis-3/12 lg:w-3/12 lg:basis-3/12 md:w-full md:basis-full sm:w-full sm:basis-full  xsm:w-full xsm:basis-full relative px-0 pr-list-wrapper hidden xl:block lg:block border h-full rounded-[15px_0_0_15px] !border-r-transparent border-solid border-[#ededed] left-0"
                 style="top: 212px">
                <ul>
                    <li class="text-[17px] font-medium text-black leading-[14px] pl-[25px] pr-0 py-8 border-b-[#ededed] border-b border-solid">
                        Bank rule matches
                    </li>
                    <li class="text-[17px] font-medium text-black leading-[14px] pl-[25px] pr-0 py-8 border-b-[#ededed] border-b border-solid">
                        SmartMatches
                    </li>
                    <li class="text-[17px] font-medium text-black leading-[14px] pl-[25px] pr-0 py-8 border-b-[#ededed] border-b border-solid">
                        User portal
                    </li>
                    <li class="text-[17px] font-medium text-black leading-[14px] pl-[25px] pr-0 py-8 border-b-[#ededed] border-b border-solid">
                        Training feedback
                    </li>
                    <li class="text-[17px] font-medium text-black leading-[14px] pl-[25px] pr-0 py-8 border-b-[#ededed] border-b border-solid">
                        Custom match confidence level
                    </li>
                    <li class="text-[17px] font-medium text-black leading-[14px] pl-[25px] pr-0 py-8 border-b-[#ededed] border-b border-solid">
                        Enable bank and SmartMatch per client
                    </li>
                    <li class="text-[17px] font-medium text-black leading-[14px] pl-[25px] pr-0 py-8 border-b-[#ededed] border-b border-solid">
                        Tell Otto to reconcile from portal<sup>3</sup>
                    </li>
                    <li class=" text-[17px] font-medium text-black leading-[14px] pl-[25px] pr-0 py-8 border-b-[#ededed] border-b border-solid">
                        Custom match confidence per client
                    </li>
                    <li class="text-[17px] font-medium text-black leading-[14px] pl-[25px] pr-0 py-8">
                        Multiple portal users
                    </li>
                </ul>
            </div>
            <div class="xl:w-9/12 xl:basis-9/12 lg:w-9/12 lg:basis-9/12 md:w-full md:basis-full sm:w-full sm:basis-full  xsm:w-full xsm:basis-full relative px-0 pr-table-wrapper ml-auto border text-center rounded-[15px] border-solid border-[#ededed]">
                <div class="flex flex-wrap  no-gutters mx-0">
                    <div class=" xl:w-4/12 xl:basis-4/12 lg:w-4/12 lg:basis-4/12 md:w-4/12 md:basis-4/12 sm:w-full sm:basis-full  xsm:w-full xsm:basis-full relative px-0 pr-column border-r-[#ededed] border-r border-solid sm:border sm:mb-10 sm:rounded-[15px] sm:border-solid sm:border-[#ededed]  xsm:border xsm:mb-10 xsm:rounded-[15px] xsm:border-solid xsm:border-[#ededed]">
                        <div class="pr-header pb-[35px] border-b-[#ededed] border-b border-solid">
                            <div
                                    class="plan inline-block border leading-7 uppercase text-[13px] tracking-[1.5px] mt-[29px] mb-[22px] mx-0 p-[0_15px] rounded-[17px] border-solid border-[#CFCFCF]">
                                Starter
                            </div>
                            <div
                                    class="price text-[52px] font-medium tracking-[-1px] text-black leading-[initial] mb-[3px]
										md:text-[35px]
										sm:text-[35px]
										xsm:text-[35px]
										">
                                £35
                            </div>
                            <div class="info
									lg:text-[16px]
									md:text-[16px]
									sm:text-[16px]
									xsm:text-[16px]">Dip your toe into automation
                            </div>
                        </div> <!-- /.pr-header -->
                        <div class="pr-body">
                            <ul>
                                <li class="text-feature px-0 py-8 border-b-[#ededed] border-b border-solid md:p-[22px_0] sm:p-[22px_0] xsm:p-[22px_0]">
                                    <span class="pr-text  text-[16px] inline-block mb-[5px]  xl:hidden lg:hidden">Bank rule matches</span>
                                    100<sup>1</sup>
                                </li>
                                <li class="text-feature px-0 py-8 border-b-[#ededed] border-b border-solid md:p-[22px_0] sm:p-[22px_0] xsm:p-[22px_0]">
                                    <span class="pr-text  text-[16px] inline-block mb-[5px]  xl:hidden lg:hidden">SmartMatches</span>
                                    25<sup>2</sup>
                                </li>
                                <li class=" px-0 py-8 border-b-[#ededed] border-b border-solid md:p-[22px_0] sm:p-[22px_0] xsm:p-[22px_0]">
											<span
                                                    class="pr-text  text-[16px] inline-block mb-[5px]  xl:hidden lg:hidden">User portal</span>
                                    <img src="images/icon/155.svg" alt="" class="m-auto h-3.5">
                                </li>
                                <li class=" px-0 py-8 border-b-[#ededed] border-b border-solid md:p-[22px_0] sm:p-[22px_0] xsm:p-[22px_0]">
                                    <span class="pr-text  text-[16px] inline-block mb-[5px]  xl:hidden lg:hidden">Training feedback</span>
                                    <img src="images/icon/155.svg" alt="" class="m-auto h-3.5">
                                </li>
                                <li class=" px-0 py-8 border-b-[#ededed] border-b border-solid md:p-[22px_0] sm:p-[22px_0] xsm:p-[22px_0]">
                                    <span class="pr-text  text-[16px] inline-block mb-[5px]  xl:hidden lg:hidden">Custom match confidence level</span>
                                    <img src="images/icon/155.svg" alt="" class="m-auto h-3.5">
                                </li>
                                <li class=" px-0 py-8 border-b-[#ededed] border-b border-solid md:p-[22px_0] sm:p-[22px_0] xsm:p-[22px_0]">
                                    <span class="pr-text  text-[16px] inline-block mb-[5px]  xl:hidden lg:hidden">Enable bank and SmartMatch per client</span>
                                    <img src="images/icon/154.svg" alt="" class="m-auto h-3.5">
                                </li>
                                <li class=" px-0 py-8 border-b-[#ededed] border-b border-solid md:p-[22px_0] sm:p-[22px_0] xsm:p-[22px_0]">
                                    <span class="pr-text  text-[16px] inline-block mb-[5px]  xl:hidden lg:hidden">Tell Otto to reconcile from portal</span>
                                    <img src="images/icon/154.svg" alt="" class="m-auto h-3.5">
                                </li>
                                <li class=" px-0 py-8 border-b-[#ededed] border-b border-solid md:p-[22px_0] sm:p-[22px_0] xsm:p-[22px_0]">
                                    <span class="pr-text  text-[16px] inline-block mb-[5px]  xl:hidden lg:hidden">Custom match confidence per client</span>
                                    <img src="images/icon/154.svg" alt="" class="m-auto h-3.5">
                                </li>
                                <li class=" px-0 py-8 border-b-[#ededed] border-b border-solid md:p-[22px_0] sm:p-[22px_0] xsm:p-[22px_0]">
                                    <span class="pr-text  text-[16px] inline-block mb-[5px]  xl:hidden lg:hidden">Multiple portal users</span>
                                    <img src="images/icon/154.svg" alt="" class="m-auto h-3.5">
                                </li>
                            </ul>
                        </div>
                        <div class="pr-footer pt-[38px] pb-[25px] px-0
								md:p-[25px_0_20px]
								sm:p-[25px_0_20px]
								xsm:p-[25px_0_20px]">
                            <a href="/sign-up/"
                               class="trial-button w-40 leading-[46px] text-[16px] font-medium text-black border text-center transition-all duration-[0.3s] ease-in-out rounded-[3px] border-solid border-black hover:text-white hover:bg-[#373737]">Sign up for a trial</a>
                        </div>
                    </div> <!-- /.pr-column -->
                    <div class=" xl:w-4/12 xl:basis-4/12 lg:w-4/12 lg:basis-4/12 md:w-4/12 md:basis-4/12 sm:w-full sm:basis-full  xsm:w-full xsm:basis-full relative px-0 pr-column border-r-[#ededed] border-r border-solid  sm:border sm:mb-10 sm:rounded-[15px] sm:border-solid sm:border-[#ededed]  xsm:border xsm:mb-10 xsm:rounded-[15px] xsm:border-solid xsm:border-[#ededed]">
                        <div class="pr-header pb-[35px] border-b-[#ededed] border-b border-solid">
                            <div
                                    class="plan inline-block border leading-7 uppercase text-[13px] tracking-[1.5px] mt-[29px] mb-[22px] mx-0 p-[0_15px] rounded-[17px] border-solid border-[#CFCFCF]">
                                Growth
                            </div>
                            <div
                                    class="price text-[52px] font-medium tracking-[-1px] text-black leading-[initial] mb-[3px]
										md:text-[35px]
										sm:text-[35px]
										xsm:text-[35px]">
                                £150
                            </div>
                            <div class="info
									lg:text-[16px]
									md:text-[16px]
									sm:text-[16px]
									xsm:text-[16px]">Accelerate with automation
                            </div>
                        </div> <!-- /.pr-header -->
                        <div class="pr-body">
                            <ul>
                                <li class="text-feature px-0 py-8 border-b-[#ededed] border-b border-solid md:p-[22px_0] sm:p-[22px_0] xsm:p-[22px_0]">
                                    <span class="pr-text  text-[16px] inline-block mb-[5px]  xl:hidden lg:hidden">Bank rule matches</span>
                                    450<sup>1</sup>
                                </li>
                                <li class="text-feature px-0 py-8 border-b-[#ededed] border-b border-solid md:p-[22px_0] sm:p-[22px_0] xsm:p-[22px_0]">
                                    <span class="pr-text  text-[16px] inline-block mb-[5px]  xl:hidden lg:hidden">SmartMatches</span>
                                    100<sup>2</sup>
                                </li>
                                <li class=" px-0 py-8 border-b-[#ededed] border-b border-solid md:p-[22px_0] sm:p-[22px_0] xsm:p-[22px_0]">
											<span
                                                    class="pr-text  text-[16px] inline-block mb-[5px]  xl:hidden lg:hidden">User portal</span>
                                    <img src="images/icon/155.svg" alt="" class="m-auto h-3.5">
                                </li>
                                <li class=" px-0 py-8 border-b-[#ededed] border-b border-solid md:p-[22px_0] sm:p-[22px_0] xsm:p-[22px_0]">
                                    <span class="pr-text  text-[16px] inline-block mb-[5px]  xl:hidden lg:hidden">Training feedback</span>
                                    <img src="images/icon/155.svg" alt="" class="m-auto h-3.5">
                                </li>
                                <li class=" px-0 py-8 border-b-[#ededed] border-b border-solid md:p-[22px_0] sm:p-[22px_0] xsm:p-[22px_0]">
                                    <span class="pr-text  text-[16px] inline-block mb-[5px]  xl:hidden lg:hidden">Custom match confidence level</span>
                                    <img src="images/icon/155.svg" alt="" class="m-auto h-3.5">
                                </li>
                                <li class=" px-0 py-8 border-b-[#ededed] border-b border-solid md:p-[22px_0] sm:p-[22px_0] xsm:p-[22px_0]">
                                    <span class="pr-text  text-[16px] inline-block mb-[5px]  xl:hidden lg:hidden">Enable bank and SmartMatch per client</span>
                                    <img src="images/icon/155.svg" alt="" class="m-auto h-3.5">
                                </li>
                                <li class=" px-0 py-8 border-b-[#ededed] border-b border-solid md:p-[22px_0] sm:p-[22px_0] xsm:p-[22px_0]">
                                    <span class="pr-text  text-[16px] inline-block mb-[5px]  xl:hidden lg:hidden">Tell Otto to reconcile from portal</span>
                                    <img src="images/icon/154.svg" alt="" class="m-auto h-3.5">
                                </li>
                                <li class=" px-0 py-8 border-b-[#ededed] border-b border-solid md:p-[22px_0] sm:p-[22px_0] xsm:p-[22px_0]">
                                    <span class="pr-text  text-[16px] inline-block mb-[5px]  xl:hidden lg:hidden">Custom match confidence per client</span>
                                    <img src="images/icon/154.svg" alt="" class="m-auto h-3.5">
                                </li>
                                <li class=" px-0 py-8 border-b-[#ededed] border-b border-solid md:p-[22px_0] sm:p-[22px_0] xsm:p-[22px_0]">
                                    <span class="pr-text  text-[16px] inline-block mb-[5px]  xl:hidden lg:hidden">Multiple portal users</span>
                                    <img src="images/icon/154.svg" alt="" class="m-auto h-3.5">
                                </li>
                            </ul>
                        </div>
                        <div class="pr-footer pt-[38px] pb-[25px] px-0
								md:p-[25px_0_20px]
								sm:p-[25px_0_20px]
								xsm:p-[25px_0_20px]">
                            <a href="/sign-up/"
                               class="trial-button w-40 leading-[46px] text-[16px] font-medium text-black border text-center transition-all duration-[0.3s] ease-in-out rounded-[3px] border-solid border-black hover:text-white hover:bg-[#373737]">Sign up for a trial</a>
                        </div>
                    </div> <!-- /.pr-column -->
                    <div class=" xl:w-4/12 xl:basis-4/12 lg:w-4/12 lg:basis-4/12 md:w-4/12 md:basis-4/12 sm:w-full sm:basis-full  xsm:w-full xsm:basis-full relative px-0 pr-column   sm:border sm:mb-10 sm:rounded-[15px] sm:border-solid sm:border-[#ededed]  xsm:border xsm:mb-10 xsm:rounded-[15px] xsm:border-solid xsm:border-[#ededed]">
                        <div class="pr-header pb-[35px] border-b-[#ededed] border-b border-solid">
                            <div
                                    class="plan inline-block border leading-7 uppercase text-[13px] tracking-[1.5px] mt-[29px] mb-[22px] mx-0 p-[0_15px] rounded-[17px] border-solid border-[#CFCFCF]">
                                Advanced
                            </div>
                            <div
                                    class="price text-[52px] font-medium tracking-[-1px] text-black leading-[initial] mb-[3px]
										md:text-[35px]
										sm:text-[35px]
										xsm:text-[35px]">
                                £350
                            </div>
                            <div class="info
									lg:text-[16px]
									md:text-[16px]
									sm:text-[16px]
									xsm:text-[16px]">For automation powerhouses
                            </div>
                        </div> <!-- /.pr-header -->
                        <div class="pr-body">
                            <ul>
                                <li class="text-feature px-0 py-8 border-b-[#ededed] border-b border-solid md:p-[22px_0] sm:p-[22px_0] xsm:p-[22px_0]">
                                    <span class="pr-text  text-[16px] inline-block mb-[5px]  xl:hidden lg:hidden">Bank rule matches</span>
                                    1000<sup>1</sup>
                                </li>
                                <li class="text-feature px-0 py-8 border-b-[#ededed] border-b border-solid md:p-[22px_0] sm:p-[22px_0] xsm:p-[22px_0]">
                                    <span class="pr-text  text-[16px] inline-block mb-[5px]  xl:hidden lg:hidden">SmartMatches</span>
                                    250<sup>2</sup>
                                </li>
                                <li class=" px-0 py-8 border-b-[#ededed] border-b border-solid md:p-[22px_0] sm:p-[22px_0] xsm:p-[22px_0]">
											<span
                                                    class="pr-text  text-[16px] inline-block mb-[5px]  xl:hidden lg:hidden">User portal</span>
                                    <img src="images/icon/155.svg" alt="" class="m-auto h-3.5">
                                </li>
                                <li class=" px-0 py-8 border-b-[#ededed] border-b border-solid md:p-[22px_0] sm:p-[22px_0] xsm:p-[22px_0]">
                                    <span class="pr-text  text-[16px] inline-block mb-[5px]  xl:hidden lg:hidden">Training feedback</span>
                                    <img src="images/icon/155.svg" alt="" class="m-auto h-3.5">
                                </li>
                                <li class=" px-0 py-8 border-b-[#ededed] border-b border-solid md:p-[22px_0] sm:p-[22px_0] xsm:p-[22px_0]">
                                    <span class="pr-text  text-[16px] inline-block mb-[5px]  xl:hidden lg:hidden">Custom match confidence level</span>
                                    <img src="images/icon/155.svg" alt="" class="m-auto h-3.5">
                                </li>
                                <li class=" px-0 py-8 border-b-[#ededed] border-b border-solid md:p-[22px_0] sm:p-[22px_0] xsm:p-[22px_0]">
                                    <span class="pr-text  text-[16px] inline-block mb-[5px]  xl:hidden lg:hidden">Enable bank and SmartMatch per client</span>
                                    <img src="images/icon/155.svg" alt="" class="m-auto h-3.5">
                                </li>
                                <li class=" px-0 py-8 border-b-[#ededed] border-b border-solid md:p-[22px_0] sm:p-[22px_0] xsm:p-[22px_0]">
                                    <span class="pr-text  text-[16px] inline-block mb-[5px]  xl:hidden lg:hidden">Tell Otto to reconcile from portal</span>
                                    <img src="images/icon/155.svg" alt="" class="m-auto h-3.5">
                                </li>
                                <li class=" px-0 py-8 border-b-[#ededed] border-b border-solid md:p-[22px_0] sm:p-[22px_0] xsm:p-[22px_0]">
                                    <span class="pr-text  text-[16px] inline-block mb-[5px]  xl:hidden lg:hidden">Custom match confidence per client</span>
                                    <img src="images/icon/155.svg" alt="" class="m-auto h-3.5">
                                </li>
                                <li class="text-feature px-0 py-8 border-b-[#ededed] border-b border-solid md:p-[22px_0] sm:p-[22px_0] xsm:p-[22px_0]">
                                    <span class="pr-text  text-[16px] inline-block mb-[5px]  xl:hidden lg:hidden">Multiple portal users</span>
                                    £5/extra user/month
                                </li>
                            </ul>
                        </div>
                        <div class="pr-footer pt-[38px] pb-[25px] px-0
								md:p-[25px_0_20px]
								sm:p-[25px_0_20px]
								xsm:p-[25px_0_20px]">
                            <a href="/sign-up/"
                               class="trial-button w-40 leading-[46px] text-[16px] font-medium text-black border text-center transition-all duration-[0.3s] ease-in-out rounded-[3px] border-solid border-black hover:text-white hover:bg-[#373737]">Sign up for a trial</a>
                        </div>
                    </div> <!-- /.pr-column -->
                </div>
            </div>
        </div>

        <div class="border-t-[#dee2e6] border-t border-solid pt-[60px] md:pt-[40px] sm:pt-[100px] xsm:pt-[40x]">
            <div class="title-style-twelve text-center pb-[120px]  md:pb-[60px] sm:pb-[60px] xsm:pb-[60px]">
                <p class="text-[17px] leading-[1.75em]
						md:text-[17px]
						sm:text-[17px]
						xsm:text-[17px]"><b>Do you have any plans that only have bank rule matches?</b><br>We have a "Lite" plan
                    that includes 100 bank rule matches per month. Otto will stop work once he reaches that limit and
                    only start again the following month, once the allowance has been reset. The monthly fee is £25.</p>
                <h2 class="pt-[60px] font-bold text-[40px] leading-[1.29em]
						md:text-[40px]
						sm:text-[40px]
						xsm:text-[40px]"><span class="relative">The small-ish print</h2>
                <p class="mt-10 text-[17px] leading-[1.75em]
						md:text-[17px]
						sm:text-[17px]
						xsm:text-[17px]">
                    <sup>1</sup> Additional bank rule matches charged at 20p each for Starter, 16p each for Growth, and
                    11p each for Advanced.<br>
                    <sup>2</sup> Additional SmartMatches charged at £1 each for Starter, 75p each for Growth, and 45p
                    each for Advanced.<br>
                    <sup>3</sup> We hope to launch this feature in autumn 2024.
                </p>
            </div>
        </div>
    </div>
</div>
