---
---
<style>
    .text-feature {
        padding-top: 1.48rem;
        padding-bottom: 1.48rem;
    }
</style>

<div class="pricing-section-eight lg-container mt-20 scroll-target"
     id="pricing">
    <div class="container">
        <div class="border-t-[#dee2e6] border-t border-solid">
            <div class="title-style-twelve text-center pb-3 pt-20">
                <h2 class=" font-bold text-[58px] leading-[1.29em]
						md:text-[40px]
						sm:text-[40px]
						xsm:text-[40px]"><span class="relative">Simple pricing for practices of <i>any</i> size<img
                        class=" absolute -translate-x-2/4 z-[-1] left-2/4 -bottom-5 block
							md:hidden
							sm:hidden
							xsm:hidden" src="images/shape/line-shape-13.svg" alt=""></span></h2>
                <p class="mt-10 text-[24px] leading-[1.75em]
						md:text-[18px]
						sm:text-[18px]
						xsm:text-[18px]">Otto has been built by a small practice so we want to make sure pricing works
                    for practices of all sizes.
                </p>
                <p class="text-[24px] leading-[1.75em]
                md:text-[18px]
                sm:text-[18px]
                xsm:text-[18px]">All features are available at every plan level; so you just need to pick the
                    plan based on how much time you want to save.</p>
            </div>
        </div>

        <div class="table-responsive block w-1/2 overflow-x-auto">
            <table class="table w-full text-[#212529] m-0">
                <thead>
                <tr>
                    <th class=" font-medium text-[15px] tracking-[2px] text-center uppercase text-[#1d1d1d] pt-0 pb-[15px] px-0 border-b-2 border-b-black border-[none] border-solid first:text-left
								   lg:text-[14px] lg:pb-5
								   md:text-[14px] md:pb-5
								   sm:text-[14px] sm:pb-5
								   xsm:text-[14px] xsm:pb-5"
                    >Plan
                    </th>
                    <th class=" font-medium text-[15px] tracking-[2px] text-center uppercase text-[#1d1d1d] pt-0 pb-[15px] px-0 border-b-2 border-b-black border-[none] border-solid first:text-left
								   lg:text-[14px] lg:pb-5
								   md:text-[14px] md:pb-5
								   sm:text-[14px] sm:pb-5
								   xsm:text-[14px] xsm:pb-5">Price
                    </th>
                    <th class=" font-medium text-[15px] tracking-[2px] text-center uppercase text-[#1d1d1d] pt-0 pb-[15px] px-0 border-b-2 border-b-black border-[none] border-solid first:text-left
								   lg:text-[14px] lg:pb-5
								   md:text-[14px] md:pb-5
								   sm:text-[14px] sm:pb-5
								   xsm:text-[14px] xsm:pb-5">Credits
                    </th>
                    <th class=" font-medium text-[15px] tracking-[2px] text-center uppercase text-[#1d1d1d] pt-0 pb-[15px] px-0 border-b-2 border-b-black border-[none] border-solid first:text-left
								   lg:text-[14px] lg:pb-5
								   md:text-[14px] md:pb-5
								   sm:text-[14px] sm:pb-5
								   xsm:text-[14px] xsm:pb-5">Price per credit
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class="border-b-[#dee2e6] border-b border-solid">
                    <td class="py-5 pl-[30px] px-0">
                        Plan A
                    </td>
                    <td class="py-5 pl-[30px] px-0 text-center">
                        <span>£25<sup>.00</sup></span>
                    </td>
                    <td class="py-5 pl-[30px] px-0 text-center">
                        <span>100</span>
                    </td>
                    <td class="py-5 pl-[30px] px-0 text-center">
                        <span>£0.25</span>
                    </td>
                </tr>
                <tr class="border-b-[#dee2e6] border-b border-solid">
                    <td class="py-5 pl-[30px] px-0">
                        Plan B
                    </td>
                    <td class="py-5 pl-[30px] px-0 text-center">
                        <span>£52<sup>.50</sup></span>
                    </td>
                    <td class="py-5 pl-[30px] px-0 text-center">
                        <span>250</span>
                    </td>
                    <td class="py-5 pl-[30px] px-0 text-center">
                        <span>£0.21</span>
                    </td>
                </tr>
                <tr class="border-b-[#dee2e6] border-b border-solid">
                    <td class="py-5 pl-[30px] px-0">
                        Plan C
                    </td>
                    <td class="py-5 pl-[30px] px-0 text-center">
                        <span>£100<sup>.00</sup></span>
                    </td>
                    <td class="py-5 pl-[30px] px-0 text-center">
                        <span>500</span>
                    </td>
                    <td class="py-5 pl-[30px] px-0 text-center">
                        <span>£0.20</span>
                    </td>
                </tr>
                <tr class="border-b-[#dee2e6] border-b border-solid">
                    <td class="py-5 pl-[30px] px-0">
                        Plan D
                    </td>
                    <td class="py-5 pl-[30px] px-0 text-center">
                        <span>£190<sup>.00</sup></span>
                    </td>
                    <td class="py-5 pl-[30px] px-0 text-center">
                        <span>1000</span>
                    </td>
                    <td class="py-5 pl-[30px] px-0 text-center">
                        <span>£0.19</span>
                    </td>
                </tr>
                <tr class="border-b-[#dee2e6] border-b border-solid">
                    <td class="py-5 pl-[30px] px-0">
                        Plan E
                    </td>
                    <td class="py-5 pl-[30px] px-0 text-center">
                        <span>£297<sup>.50</sup></span>
                    </td>
                    <td class="py-5 pl-[30px] px-0 text-center">
                        <span>1750</span>
                    </td>
                    <td class="py-5 pl-[30px] px-0 text-center">
                        <span>£0.17</span>
                    </td>
                </tr>
                <tr class="border-b-[#dee2e6] border-b border-solid">
                    <td class="py-5 pl-[30px] px-0">
                        Plan F
                    </td>
                    <td class="py-5 pl-[30px] px-0 text-center">
                        <span>£400<sup>.00</sup></span>
                    </td>
                    <td class="py-5 pl-[30px] px-0 text-center">
                        <span>2500</span>
                    </td>
                    <td class="py-5 pl-[30px] px-0 text-center">
                        <span>£0.16</span>
                    </td>
                </tr>
                <tr class="border-b-[#dee2e6] border-b border-solid">
                    <td class="py-5 pl-[30px] px-0">
                        Plan G
                    </td>
                    <td class="py-5 pl-[30px] px-0 text-center">
                        <span>£750<sup>.00</sup></span>
                    </td>
                    <td class="py-5 pl-[30px] px-0 text-center">
                        <span>5000</span>
                    </td>
                    <td class="py-5 pl-[30px] px-0 text-center">
                        <span>£0.15</span>
                    </td>
                </tr>
                <tr class="border-b-[#dee2e6] border-b border-solid">
                    <td class="py-5 pl-[30px] px-0">
                        Plan H
                    </td>
                    <td class="py-5 pl-[30px] px-0 text-center">
                        <span>£1,400<sup>.00</sup></span>
                    </td>
                    <td class="py-5 pl-[30px] px-0 text-center">
                        <span>10000</span>
                    </td>
                    <td class="py-5 pl-[30px] px-0 text-center">
                        <span>£0.14</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="pt-[60px] md:pt-[40px] sm:pt-[100px] xsm:pt-[40x]">
            <div class="title-style-twelve pb-[120px]  md:pb-[60px] sm:pb-[60px] xsm:pb-[60px] text-[18px]">
                <p class="leading-[1.75em]">
                    <b>OK, what does a credit get me?</b><br>
                    A bank rule reconciliation costs one credit and a SmartMatch reconciliation costs four.
                </p>
                <p class="leading-[1.75em] mt-3">
                    You can decide to enable or disable bank rule reconciliations, and SmartMatch reconciliations, for
                    any client; you're in complete control.
                </p>
                <p class="leading-[1.75em] mt-3">
                    Not only that, you can choose between fixed or overage pricing. With fixed, you pay the amount of
                    your plan at the beginning of the month and Otto will stop reconciling if you run out of credits.
                    He'll start again when the next monthly payment is taken. With overage you'll just pay for any
                    credits outside of your allowance at the end of the month. For example, if you're on plan C and use
                    a total of 550 credits, you'd pay £10 for the extra 50 credits.
                </p>
            </div>
        </div>
    </div>
</div>
